[2015-12-05 12:26] kie0tauB opened #1 "Failing example"
serde + bincode serialization and deserialization work for the attached file, but serde_cbor fails at deserialization with the following error message:

error: "trailing bytes" at byte position 11

[a38348c35f111e17947ffbfe04f4f29252e68aa5b43220860d403b58d1261f15dad7cbe16f8f0b66be392f116ce7ff163fd8b12a6498928aedbe47872408329e.txt](https://github.com/pyfisch/cbor/files/52827/a38348c35f111e17947ffbf

[2015-12-05 13:17] pyfisch commented on #1
Bincode and CBOR are different formats. A deserializer for one format will not work the other format. What data does the example file contain and how was it created?

[2016-01-10 16:08] cmr opened #2 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-02-04 21:18] kie0tauB commented on #1
Yes, bincode and cbor are certainly different, but all I'm saying is, while serde works fine with bincode, it fails with cbor, so it's not a serde issue.

[2016-02-06 20:10] vooon opened #3 "Parsing and Emitting Tags"
Hello. I'm what to emit Tag(0) (RFC 3339 date-time string), but i can't find any hints.

[2016-02-07 09:49] pyfisch commented on #3
It is currently not possible because serde does not support serializing and deserializing tags. If you need it I will propose a PR to serde to add this function.

[2016-02-07 09:58] vooon commented on #3
Thank you. But for my "hello world" class project easier to use *go* or even *c11*.

[2016-02-07 11:29] pyfisch commented on #1
The file you provided is indeed a valid CBOR file. I added a test case to parse the provided file: https://github.com/pyfisch/cbor/commit/9a06446633845b17c3b5abdfe142d397dbff89a4 And the file is successfully parsed as a CBOR value: https://travis-ci.org/pyfisch/cbor/builds/107568165

Maybe you do not try to parse this exact file or you use an outdated version of this crate or serde?

Note: I just

[2016-02-17 17:43] apoelstra opened #5 "`Option<T>` does not round-trip"
[code]
This code fails with
```thread '<main>' panicked at 'called `Result::unwrap()` on an `Err` value: SyntaxError(invalid syntax: "incorrect type", 0)', ../src/libcore/result.rs:738```

I have code in production that fails with "trailing bytes" when I have a structure whose last element is an Option; I haven't produced a small test case because it's such a PITA to write Serialize/Deserialize im

[2016-02-21 12:36] pyfisch commented on #5
This is a serde problem. The [deserialization to `Option`](https://github.com/serde-rs/serde/blob/v0.6.x/serde/src/de/impls.rs#L277) is not implemented for integer values. There is already an issue for this serde-rs/serde#217

[2016-03-07 09:23] kie0tauB commented on #1
Alright, I was then probably using an old version (this issue is not that new anyway ;-))
Thanks!

[2016-03-07 09:23] #1 closed

[2016-03-13 00:19] sfackler opened #6 "Update to serde 0.7"
Any chance you could update this to support serde 0.7?

[2016-03-13 10:55] pyfisch commented on #6
I will update this crate but it will take some time since serde 0.7 changed quite a bit.

[2016-03-15 10:21] pyfisch commented on #6
Done.

[2016-03-15 10:21] #6 closed

[2016-03-15 10:24] pyfisch commented on #5
The mentioned is was a bit different. So this is not fixed.

@erickt Is it possible to make options round trip in languages like JSON and CBOR?

[2016-03-15 11:07] dignifiedquire commented on #3
@pyfisch I'm looking into using this for an implementation, but I will need to be able to use custom tags. How far of is that? Or should I just use http://burntsushi.net/rustdoc/cbor/ for now, which already implements handling of custom tags, though as I'm using serde_json already in other parts I'd really like to use serde_cbor.

[2016-03-15 16:31] sfackler commented on #6
Thanks!

[2016-03-16 16:17] erickt commented on #5
@pyfisch: Yes, you should be able to. Here's how [serde_json does it](https://github.com/serde-rs/json/blob/master/json/src/de.rs#L537) by overriding `Deserializer::deserialize_option`.

[2016-03-30 10:48] #5 closed

[2016-03-30 10:53] pyfisch commented on #5
Sorry that it took so long. It was a bit more complicated than expected since I had to add one byte lookahead to the parser to correctly parse options.

[2016-03-30 11:06] #2 closed

[2016-03-30 11:15] pyfisch commented on #3
Adding support for tags to serde_cbor requires support from the serde crate. There is already an issue about adding adding tags to serde: serde-rs/serde/issues/163 but it has not yet been decided how the support should look like. Tags are specific to serializiation formats and for this reason it is hard to handle them in a generic serializiation framework.

@erickt Do you have any ideas about this

[2016-03-30 16:07] jkcdarunday opened #7 "Enum support"
I wonder if we can have support for Enums in a similar manner as serde_json does. Not sure if this will be breaking standards though. This would be a great addition.

[2016-03-30 19:29] pyfisch commented on #7
What behavior do you expect? CBOR by itself does not have enums so there is no "natural" serialization.

[2016-05-03 00:52] sfackler opened #9 "Bad error deserializing empty map to ()"
A "long form" empty map will not deserialize:

[code]

[code]

[2016-05-03 00:55] sfackler commented on #9
Ah, looks like it will deserialize to a `HashMap<String, String>` so it looks like it's specific to ()'s method of deserializing.

[2016-05-08 20:11] arthurprs commented on #7
Came here to ask the same. Since there's no natural option, maybe this crate could mimic serde_json behavior.

[2016-05-20 15:00] iqualfragile commented on #7
this is actually a big blocker for me. interestingly it can serialize enums (or at least pretend to) but not deserialize them.
i wrote a testcase for you:
[code]

[2016-05-20 15:00] iqualfragile commented on #7
also: expected behaviour: just serialize it to an u8/16/32/64

[2016-05-21 14:51] pyfisch commented on #7
I am working on this. Serialization works, deserialization not yet.

How variants are serialized:
[code]

As you can see the variant indices are serialized and additional data is serialized as an array.

[2016-05-22 12:32] pyfisch commented on #7
:tada: Enum serialization does now work.

@iqualfragile Variants are serialized to strings, because deserialization with strings is easier. Maybe I will add a "compact" mode in the future. Does this patch solve your problem? In this case I will merge it and update crates.io.

[2016-05-22 12:44] pyfisch commented on #9
`let _: std::collections::HashMap<(), ()> = serde_cbor::from_slice(&[191, 255]).unwrap();` does also work. Maps are currently always deserialized to `HashMap`s.

[2016-05-22 13:05] pyfisch commented on #9
@sfackler: Should I also deserialize the empty sequence to `()`? It would make sense I think.

[2016-05-22 16:44] sfackler commented on #9
I think it's fine that you can't get a `()` from an empty map, but the error that's reported (`TrailingBytes`) seems wrong.

I think it would make sense that the empty sequence could deserialize to `()` since a 2-length sequence will deserialize to `(A, B)`.

[2016-05-22 22:10] iqualfragile commented on #7
@pyfisch it would have, yes, but i gave up a day ago, and switched to rustc_serialize for now, (sorry :( ) but i am sure being able to fully serialize rust data types will be extremly useful for others! So thanks for your work.

[2016-05-24 18:10] #7 closed

[2016-05-24 18:11] pyfisch commented on #7
@iqualfragile The patch has been merged now. Are you working on some public project? Maybe there is later time to switch to serde. ;)

[2016-05-24 18:13] pyfisch commented on #9
I will look into error messages. This is a general problem with this crate but also with serde I think.

[2016-05-24 19:34] iqualfragile commented on #7
it will soon-ish be public currently im just laying down the foundation
and yes, switching to serde is the plan, but maybe later (serde also has the downside of requiring nightly)

[2016-06-24 15:54] #9 closed

[2016-06-24 15:55] pyfisch commented on #9
The `TrailingBytes` error was caused by a bug in error handling. Now the correct error is reported.

[2016-07-07 09:56] arthurprs opened #12 "Compact/packed format"
Hi, it'd be nice to use (have an option to use) a compact/packed serialization format (like bincode and rmp) that serializes structs like lists (thus relying on the order of the fields). This allows faster (de)serialization and more compact output.

rmp (msgpack)

[code]

cbor

[code]

[2016-07-15 17:31] pyfisch commented on #12
I am open to add this option. But the CBOR spec mentions in the last paragraph of Section 3.7 that constrained devices should use integer keys for maps. The first 24 keys of a struct would only take one byte each. I prefer this solution because it preserves more semantics and is easier to extend. Would you be okay with using integer keys if an option is used?

[2016-07-15 17:40] arthurprs commented on #12
I think it's a worthy addition.

[2016-07-17 20:24] Stebalien opened #13 "Change `Serialize::Error` to `io::Error`"
Unless I'm mistaken, the serializer can't possibly spit out any error but an IO error. To make error handling simpler, it would be nice if `Serialize::Error` was set to `io::Error` instead of `serde_cbor::Error`. One can always just convert it to a `serde_cbor::Error` if necessary.

[2016-07-25 11:34] pyfisch commented on #13
`Serialize::Error` must implement [`serde::ser::Error`](https://serde-rs.github.io/serde/serde/ser/trait.Error.html). While my serialization code can will only fail if the IO fails serialization may fail [for other reasons](https://github.com/serde-rs/serde/blob/89f0ad99a627494d49abf36b9de3876d8a4e2714/serde/src/ser/impls.rs#L697) like invalid values. These failures can't be represented in an IO e

[2016-07-25 11:34] #13 closed

[2016-07-25 15:33] Stebalien commented on #13
I see. (Although, serde really should be serializing paths as bytes...)

[2016-07-28 05:53] sfackler opened #16 "Serde 0.8!"
Serde v0.8 is now out. We should update cbor to work with it.

[2016-07-28 08:45] pyfisch commented on #16
There is already a serde0.8 branch. I still need to update deserialization.

[2016-07-28 16:11] Stebalien opened #17 "Support the canonical format."
See https://tools.ietf.org/html/rfc7049#section-3.9.

This makes it possible to compare objects for bitwise equality (it also makes signatures/signature verification easier).

[2016-07-29 10:21] pyfisch commented on #17
These are the requirements for canonical format.

* [x] Integers must be as small as possible.
* [x] The expression of lengths in major types 2 through 5 must be as
      short as possible.  The rules for these lengths follow the above
      rule for integers.
* [ ] The keys in every map must be sorted lowest value to highest.
      Sorting is performed on the bytes of the representation of the ke

[2016-08-06 11:41] #16 closed

[2017-01-05 18:08] masche842 opened #20 "Deserialize multiple objects"
I'm using serde_cbor in a linux fifo to pass commands from one daemon to another. When the receiving daemon is not fast enough and two structures are put into the fifo, cbor fails with "TrailingBytes".

Therefore it would be helpful to have a method that returns the size of bytes that have already been decoded. With that information, i.e. an iterator could be implemented.

Maybe such functionality

[2017-01-05 19:12] masche842 commented on #20
So, after implementing the actual Iterator, I figured that having the Read trait is enough. No need to know the position.

What about adding an Iterator implementation to cbor? Is this of interest?

[2017-01-05 20:10] pyfisch commented on #20
You want to add an iterator to CBOR that counts the bytes decoded?

[2017-01-06 09:09] masche842 commented on #20
No, an iterator that adds capability to parse multiple Objects from one slice.
I have a working implementation in my project. It looks like this:
https://gist.github.com/masche842/d87f82aa093ad9b5cd8743915d6d3f2c

[2017-01-26 18:36] sfackler opened #21 "Serde 0.9 support"
The API changes are pretty significant, looks like.

I can tackle this if you won't have a chance, @pyfisch.

[2017-01-28 11:05] #21 closed

[2017-01-29 00:29] dtolnay opened #23 "Update to serde 0.9.0"
Check out the release notes here: https://github.com/serde-rs/serde/releases/tag/v0.9.0

[2017-01-29 00:30] dtolnay commented on #23
Whoa you are way ahead of me. Sorry! :sweat_smile:

[2017-01-29 00:30] #23 closed

[2017-01-29 10:15] pyfisch commented on #23
All the credit goes to @sfackler. He is a terrific crate maintainer and updated serde-cbor before I could even respond to issue #22 he opened.

[2017-01-29 11:56] #12 closed

[2017-01-29 12:21] pyfisch commented on #12
@arthurprs It has been a long time but finally packed encoding and decoding has landed in version 0.5.1. It would be great if you'd test the new encoding and tell me if it fits your needs or needs more improvement.

[2017-01-29 16:00] pyfisch commented on #20
Sorry for the delay. Now I think, I undersnd what you want.

In [RFC 7049](https://tools.ietf.org/html/rfc7049) terms you have a data stream:

The data stream is already read into a slice and is then iterated over (as in the example code).

The question I have is, what happens if the slice does contain an incomplete object? The example code indicates no object is returned in this case. But since c

[2017-02-02 21:22] sfackler opened #24 "Packed deserialization changes broke some kinds of deserialization"
This input is correct CBOR that is deserialized in 0.5.0, but not 0.5.1:

[code]

It should translate to

[code]

Fails at I believe this line with a value of 7: https://github.com/pyfisch/cbor/blob/master/src/de.rs#L296

[2017-02-04 10:08] #24 closed

[2017-03-19 16:46] bennofs opened #26 "Packed format is broken/fragile"
The packed format for structs uses the order of the calls to `serialize_field` to decide on the id of the field for the map.

This is very fragile, and seems to break with the current serde-codegen generated code (sorry I don't have an example here, it's hard to extract the from my current project). I've had cases where a simple `to_writer_packed` / `from_reader` failed.

A more robust approach wo

[2017-04-20 18:49] sfackler opened #29 "Upgrade to serde 1.0"

[2017-04-23 08:43] vorner opened #30 "IO error EOF getting through"
Let's say I have this code:

[code]

The last line correctly fails, as the last byte is missing. However, this is the error I get:

[code]

Looking at the [documentation](https://docs.rs/serde_cbor/0.5.2/serde_cbor/error/enum.Error.html), I'd expect the error to be `Eof`, not `Io(Custom(… io-based-eof…))`. To be fair, the documentation doesn't explicitly say that all EOF-based errors are going to

[2017-04-23 10:05] #30 closed

[2017-04-23 10:07] pyfisch commented on #30
The `Eof` variant was never used in the current code and should have been removed long ago. The Error enum should be improved somehow probably it should be more like [`serde_json::Error`](https://docs.serde.rs/serde_json/struct.Error.html). Thanks for reporting this!

[2017-04-23 10:11] pyfisch commented on #26
Using numbers as keys is recommended by the cbor spec instead of serializing as a sequence. I will add a note that the order of fields matters for packed encoding.

How do you mean this?

[2017-04-23 10:55] bennofs commented on #26
Perhaps my reason I thought this issue occurred was wrong. Here's an example that reproduces the error: https://gist.github.com/81218cb280fc42f4eda958be1f241cf8

If you run that, you get a `Err(Syntax)`.

[2017-04-23 11:00] bennofs commented on #26
The serialization appears to be correct:

[code]

[2017-04-23 11:02] bennofs commented on #26
The serialized sequence looks like this: ` a2 00 a1 00 18 aa 01 18 cc`

[2017-04-23 11:28] bennofs commented on #26
Ok, so the actual problem here is that `struct_fields` gets clobbered when we parse the inner struct and is not reset when we continue parsing the outer one. So it tries to lookup the index 1 in the list `["x"]` (fields of the inner struct) and fails.

[2017-04-23 13:48] pyfisch commented on #26
Thank you for investigating the problem. I will think about how to best fix the issue.

[2017-04-23 14:14] vorner commented on #30
Hmm. Then I'd like to know if EOF in data can cause only the `Io(Custom(EOF))` or something else too. Because I wrote a crate to deserialize CBOR from a network stream (tokio-serde-cbor) and some way to detect if I have enough data to decode a „frame“ is needed.

(The `serde_json::Error` has `is_eof` for that purpose)

[2017-04-23 14:23] pyfisch commented on #30
All io errors are preserved in `Error::Io`. The `std::io::Error` has a method `kind` to get the kind and then test for a `UnexpectedEof`error.

[2017-04-23 14:34] vorner commented on #30
Yes, I already handle that one.

I was asking if an EOF in input can cause another error I'd need to handle. Currently I do this:
https://github.com/vorner/tokio-serde-cbor/blob/master/src/lib.rs#L95

I thought the IO error handling is a temporary workaround, but now it seems like it is going to stay there. So I would like to be sure there's no other branch I need to add.

[2017-04-23 14:45] pyfisch commented on #30
Yes IO error handling is (probably) here to stay. Would you prefer if I adapted the error type from serde_json for serde_cbor?

[2017-04-23 14:57] vorner commented on #30
The `serd_json` way is nice, clean and convenient.

However, I didn't really ask for any particular code or API changes. I just wanted to know if what I do is correct/enough or if I should handle some other case as well O:-).

[2017-04-23 16:47] #26 closed

[2017-04-23 16:49] pyfisch commented on #26
Nested or inner structs are now parsed correctly. Is the issue solved for you too?

[2017-04-23 17:25] bennofs commented on #26
I switched to using `serde-json` in the original project, so I cannot test this, but the test case looks fine.

[2017-04-23 17:40] pyfisch commented on #29
I am working on this.

[2017-04-23 19:34] pyfisch commented on #29
Ok, I've updated cbor to serde 1.0 and all tests pass. Can you please have a look at the code before I release? (There is an alpha version on crates.io)

PS: I currently do not use this crate but it got somewhat popular. Because I do not have this much time any more it would be great if someone else would maintain it. Maybe it can live at the serde-rs organization? After serde has reached 1.0 ther

[2017-04-23 20:19] sfackler commented on #29
Thanks!

@dtolnay thoughts on a transfer to the serde org? ^

[2017-04-23 20:24] dtolnay commented on #29
I would prefer not to transfer to the serde-rs org because I don't have the bandwidth to own this crate. IIRC this crate is pretty important to you, can you or someone on the team own it?

[2017-04-23 20:29] dtolnay commented on #29
@pyfisch the bound on `from_reader` should be `T: DeserializeOwned` - see [this page](https://serde.rs/lifetimes.html#trait-bounds). Also it would be great to support zero-copy deserialization as part of this. That involves `parse_string` and `parse_bytes` calling `visit_borrowed_str` and `visit_borrowed_bytes` if the input is a `&'de [u8]`.

[2017-04-23 20:33] dtolnay commented on #29
Perhaps @BurntSushi could take over in lieu of implementing https://github.com/BurntSushi/rust-cbor/issues/3?

[2017-04-28 12:57] jq-rs commented on #29
Hi! I think CBOR is quite similar with JSON so in that sense serde-rs would be a logical place. Unfortunate if it does not fit there. As a crate user I'd appreciate a long term solution anyway.

[2017-05-01 23:47] sfackler commented on #29
I'd be happy to poke at supporting zero copy deserialization, but it'd be great to get a release with the changes you've already made in the mean time.

[2017-05-06 08:54] pyfisch commented on #29
Released as [v0.6.0](https://crates.io/crates/serde_cbor/0.6.0).

[2017-05-06 08:54] #29 closed

[2017-05-06 08:59] pyfisch opened #31 "Remove dependency on serde_bytes"
Parse bytestrings of indefinite length [without using the ByteBuf wrapper](https://github.com/pyfisch/cbor/blob/e3bacca2a1765efe682926aed775e9bf65ce4715/src/de.rs#L123).

Also refactor parsing indefinite length UTF8-strings.

[2017-05-06 09:00] pyfisch opened #32 "Support zero copy deserialization"

[2017-05-06 09:01] pyfisch commented on #29
Remaining work filed as #31 and #32.

[2017-05-07 00:37] sfackler commented on #29
Awesome, thank you!

[2017-06-02 17:20] myfreeweb opened #34 "Track path to deserialization errors"
https://github.com/serde-rs/serde/issues/919

Currently the serde_cbor errors are not very helpful, e.g.

    Custom("missing field `name`")

— no idea in what object.

[2017-06-04 19:30] pyfisch commented on #34
Thanks for bringing this to my attention. Unfortunately I wont have time to add this soon but pull requests are welcome.

[2017-06-18 15:45] sfackler opened #37 "Packed encoding for structs is broken when fields are conditionally skipped"
Because serde doesn't provide field indices when serializing, the serializer currently guesses the index based off of the number of fields serialized. This doesn't work when fields are conditionally skipped, however:

[code]

[code]

[2017-06-25 17:39] modos189 opened #38 "Transcode one format into another"
Hey. Can you add support for converting data to other formats, as described here?
https://serde.rs/transcode.html

[2017-07-12 07:51] tailhook opened #39 "What's the purpose of MAX_SEQ_LEN ?"
I need to serialize bytes longer than 0.5Mb. Can the constant be customized or just dropped?

[2017-07-18 07:46] pyfisch commented on #39
The purpose of MAX_SEQ_LEN is to prevent corrupted files from allocating huge amounts of memory. CBOR declares sequence lengths and if a string or bytestring is really long CBOR currently will allocate memory for the expected string. A single string can allocate up to 2^64 bytes (or as much as the computer has memory) and crash the program. The file does not actually need to contain the string. MA

[2017-07-18 09:11] tailhook commented on #39
Well, I'm not sure growing buffer is needed. Big allocations > 128KiB are not allocated up front anyway because only virtual pages are allocated (the value is from jemalloc on linux, but I believe all systems have such mechanism). So the purpose of a limit is to avoid allocations approaching the size of the virtual memory. For `from_slice` the limit is obviously the size of a slice. For the stream

[2017-07-18 09:32] pyfisch commented on #39
I did not think about slices limiting the input size. Since sequences
besides strings are not preallocated the limit can be removed there. For
streaming applications I will allow customizing the limit.
I will change the code this week.

Am 18.07.2017 11:11 vorm. schrieb "Paul Colomiets" <notifications@github.com

[2017-07-18 10:17] tailhook commented on #39
@pyfisch sound like you haven't seen #39?

[2017-07-18 10:42] tailhook commented on #39
Okay, #41 looks much simpler, and gets rid of the limit entirely.

[2017-07-18 11:09] #39 closed

[2017-07-21 12:35] tailhook opened #42 "Update crates.io"
Hi,

I'm going to release a crate based on this one. And for that crate, it's crucial to support larger sequences.

So would mind releasing current master to crates.io?

[2017-07-21 18:27] pyfisch commented on #42
Released.

[2017-07-21 18:27] #42 closed

[2017-07-22 10:02] tailhook commented on #42
Thank you!

[2017-07-23 03:38] dtolnay commented on #38
This is already supported. For example CBOR to JSON:

[code]

[code]

[2017-07-26 15:21] pyfisch commented on #38
@modos189 Does it work for you? Please reopen the issue if not.

[2017-07-26 15:21] #38 closed

[2017-07-26 19:08] modos189 commented on #38
In my case, it was necessary to convert cbor hashmap to json. As it turned out, i can just write

[code]

[2017-07-26 21:38] pyfisch commented on #38
This allocates the complete HashMap. For big maps it would be better to use transcode because the map does not need to be hold on memory completely.

[2017-09-23 09:56] #31 closed

[2017-09-23 09:56] #32 closed

[2017-09-23 09:56] #37 closed

[2017-09-29 08:09] pyfisch opened #45 "Remove travis-cargo"
Remove [travis-cargo](https://github.com/huonw/travis-cargo) and build this crate like described in the [Travis CI Rust tutorial](https://docs.travis-ci.com/user/languages/rust/).

Note: We do not need to build the docs anymore since there is now docs.rs.

[2017-09-29 08:14] pyfisch opened #46 "Better README and documentation"
Rewrite the main docs page and the README with an example better reflecting the uses of this crate and of CBOR. The unmaintained label should go.

[2017-09-29 08:25] pyfisch opened #47 "Polish the crate [meta bug]"
Thanks to the rewrite by @sfackler the crate is now in a good shape. I have opened #45 and #46 for specific things that should be improved.

@sfackler: How do you want to adopt the crate? You are already registered as a contributor do you want to transfer the repo? And do you need access to the crates.io account?

I have attached the API guidelines checklist, I will try to check it myself but help

[2017-09-29 08:56] #45 closed

[2017-09-29 08:57] #20 closed

[2017-09-29 09:01] masche842 commented on #20
Sorry for not answering, totally forgot about it.

You are right, this indeed is an issue. I'm used my implementation for half a year now and it worked flawlessly, but theoretically it's possible that the fifo is read while the other application still writes it - leaving things in an inconsistent state.

I will revise some mechanisms in my system anyway (it's an embedded linux device), then I will

[2017-09-29 09:04] pyfisch commented on #20
No problem. Thanks for your reply. Feel free to reopen this issue when when you are revising the CBOR handling or have a better implementation.

[2017-12-08 17:05] tailhook opened #51 "Override `is_human_readable`"
According to the docs when [`is_human_readable`](https://docs.rs/serde/1.0.23/serde/trait.Serializer.html#method.is_human_readable) is `false` serializer can produce more compact and efficient form. I think this is what expected from cbor serializer. (default is `true`)

Unfortunately changing it is a breaking change, but I think it's okay in zero-point release.

So I'll make a PR, if you're fine

[2017-12-13 21:01] pyfisch commented on #51
Can you explain what `is_human_readable` changes? I mean CBOR is pretty much unreadable unless you are used to reading punch cards.

If it is no big change maybe you can submit the PR so I can better understand it?

[2017-12-13 21:05] sfackler commented on #51
`is_human_readable` states that your format isn't human readable. `Serialize` implementations can use this to switch to more compact encodings of themselves. For example, a UUID will normally serialize as the string `123e4567-e89b-12d3-a456-426655440000`, but if `is_human_readable` is false, it'll serialize as the raw bytes. This ends up being 16 bytes rather than 36.

[2017-12-13 21:12] pyfisch commented on #51
@sfackler thanks for the explanation. In this case I am all for it even if is a a breaking change.

[2017-12-15 12:44] vi opened #52 "Ipv4Addr seems to be serializes as text string, not as a number."
Unlike in JSON, I expect `std::net::Ipv4Addr` to be 5 bytes in CBOR...

[2017-12-15 14:27] sfackler commented on #52
This will be fixed by #51.

[2017-12-20 21:33] vi opened #53 "`[u8; 4]` seralized as array of 4 numbers instead of byte string."
How do I use byte strings with serde_cbor?

I want `"64.71.168.211".parse::<std::net::Ipv4Addr>().unwrap().octets()` to be `54 40 47 a8 d3`, not   `84 18 40 18 47 18 a8 18 d3`.

[2017-12-20 21:46] sfackler commented on #53
You can use https://docs.rs/serde_bytes/0.10.3/serde_bytes/

[2017-12-20 21:51] vi commented on #53
Can it work if the array is buried inside like in `Option<(u32, Vec<([u8; 4], u16)>)>`?

[2017-12-20 21:55] sfackler commented on #53
You can write a custom serializer. This isn't really specific to CBOR though.

[2017-12-25 11:31] pyfisch commented on #52
See #54. But it is only 5 Bytes long with IPs like 8.8.8.8 where all numbers are small. (IPAddrs are serialized as an array)

[2017-12-25 13:35] anton-dutov opened #55 "Crate upd"
Please update crate to fix actual changes

[2017-12-25 14:43] pyfisch commented on #55
There is an outstanding PR.

[2017-12-25 14:43] #55 closed

[2017-12-25 15:48] vi commented on #52
Isn't IPv4 address better be a byte buffer, not 4 numbers?

[2017-12-25 16:39] pyfisch commented on #52
Serde only offers two options to serialize the IP address "127.0.0.1":

1. `is_human_readable() == true`: "127.0.0.1" as a canonical string
2. `is_human_readable() == false`: [127, 0, 0, 1] as an array of four numbers.

For serde-cbor it would be better either as:
1. a byte buffer (as you suggested): b"\x7f\x00\x00\x01"
2. as a 32 bit unsigned integer: 2130706433i32

But these serializations are n

[2017-12-25 16:43] vi commented on #52
Can one somehow make IPv{4,6}Addr markable with [serde_bytes](https://github.com/serde-rs/bytes)?

[2017-12-25 23:17] #51 closed

[2017-12-25 23:23] pyfisch commented on #55
just released

[2018-01-17 14:25] RReverser opened #57 "Broken roundtrip serialization"
#54 (which attempted to fix #51 and #52) actually broke deserialization of Ipv4Addr (or, really, any other human-readability-dependant format) - `Deserializer` must have `is_human_readable` returning the same value as serializer.

Right now, if you try to serialize `Ipv4Addr`, it will serialize it as sequence of bytes, but will try to deserialize as a string, resulting in an error:

[code]

[2018-01-17 18:33] clarcharr opened #58 "Use`half` crate for f16 support"

[2018-01-20 17:18] pyfisch commented on #57
Do you or anyone else wants to send in a PR with a test for this?

[2018-01-25 17:09] #57 closed

[2018-04-07 18:54] asomers opened #61 "How do deserialize a buffer of unknown size?"
I would like to serialize a struct and store it in a file, padded out with zeroes to a fixed length.  But when I read the file in, including zeroes, and try to deserialize it, I get a `TrailingData` error.  It seems that `serde_cbor::from_vec` and `serde_cbor::from_reader` require the input to have precisely the expected size.  Do I have to store the packed structure's size and write that to the f

[2018-04-07 19:14] sfackler commented on #61
You can manually construct a `Deserializer` and use that rather than the from_slice or from_reader convenience methods. Their implementations are really simple - just do the same thing and skip the call to `end()`: https://pyfisch.github.io/cbor/src/serde_cbor/de.rs.html#15-23

[2018-04-07 19:50] asomers commented on #61
Thanks!  That's just what I was looking for.  For posterity, here's the working code:
[code]

[2018-04-07 19:50] #61 closed

[2018-04-11 22:54] asomers opened #63 "`de::from_reader` should implement `DeserializeOwned`, not `Deserialize`"
I tried to use `serde_cbor::de::from_reader` to deserialize into a `&str` and got the surprising runtime error message like this:
[code]
It makes sense that `from_reader` can't do zero-copy like `from_slice` since there's no source buffer.  However, attempting to do so should cause a compile-time failure, not a runtime failure.  docopt had a similar bug: https://github.com/docopt/docopt.rs/pull/22

[2018-05-18 14:50] #53 closed

[2018-07-10 21:40] maghis opened #68 "Detecting invalid cbor when deserializing multiple objects"
I am deserializing multiple objects from a slice (like in https://github.com/pyfisch/cbor/issues/20).

I am using the EOF error to detect when I reached the last object, but I have no way to distinguish between an actual EOF and an invalid cbor object.

It would be great to have an `Iter` implementation that does the right thing or that the thrown error had not the current offset in the stream but

[2018-07-10 21:42] sfackler commented on #68
Can you check if the slice is empty rather than if you get an EOF error to detect the end of the sequence?

[2018-07-11 05:38] quininer opened #69 "Can not zero-copy deserialize bytes"
[code]

cbor can be deserialize `&str`, but not deserialize `&[u8]`. I think it's a bug.

[2018-07-11 05:43] sfackler commented on #69
Bar's contents serialize/deserialize as sequences of u8 rather than byte slices. Take a look at the serde_bytes crate: https://docs.serde.rs/serde_bytes/

[2018-07-11 06:05] quininer commented on #69
Thanks you!

[2018-07-11 06:05] #69 closed

[2018-07-11 20:49] maghis commented on #68
@sfackler is the slice being mutated by the deserializer?

[2018-07-11 22:04] sfackler commented on #68
Could you show your code?

[2018-07-12 23:18] bytwise opened #70 "deserializing big byte arrays using `from_reader` does not round-trip"
[code]

I would expect `input` and `output` to have the same length, but instead `output` is only 16KiB long.
It works fine though using `serde_cbor::from_slice` instead of `serde_cbor::from_reader`.

[2018-07-13 00:04] sfackler commented on #70
Ah yeah, we need to update scratch_offset after the read in here: https://github.com/pyfisch/cbor/blob/master/src/read.rs#L109-L133

Will fix tonight!

[2018-07-13 19:32] maghis commented on #68
Sure, simplified:
[code]
It's not trivial to detect if cbor is invalid (it's very dense and almost every possible combination of values are valid) but having to rely on an error to know then the stream is finished vs failed seems like an hack.

Also, the above would be a lot better in an iter :)

[2018-07-14 05:37] sfackler commented on #68
There are ways you can work around it but they're pretty convoluted. I opened up a PR to just add a `StreamDeserializer` which should be much easier to work with! #72.

[2018-07-14 17:20] maghis commented on #68
Makes sense, thanks @sfackler!

[2018-07-14 17:20] #68 closed

[2018-07-17 10:36] #70 closed

[2018-08-04 14:25] pyfisch commented on #58
Done.

[2018-08-04 14:25] #58 closed

[2018-09-16 13:56] Don42 opened #74 "Support for indefinite length arrays"
In the current draft, the bundle protocol [0] uses indefinite-length arrays in its binary representation.
While deserialization of those was easy, I have yet to find a way to serialize a data structure into
that format.

1. Is serialization of indefinite-length arrays supported?
2. Is it possible within the serde framework?
3. Is there a workaround?

[0] https://tools.ietf.org/html/draft-ietf-dtn-

[2018-09-16 18:07] sfackler commented on #74
We do support serialization of indefinite-length arrays. An (optional) size is passed to [`Serializer::serialize_seq`](https://docs.rs/serde/1.0.79/serde/trait.Serializer.html#tymethod.serialize_seq), and if it's not set we use the indefinite length encoding. The `Serialize` implementations for `Vec<T>`, `&[T]`, etc will all provide the length but you should be able to make a small wrapper type th

[2018-09-17 19:03] Don42 commented on #74
Thanks for the hint. I'll take a look next chance I get.
I'll get back to you if I have another question.

[2018-09-17 19:03] #74 closed

[2018-09-20 00:00] #52 closed

[2018-10-09 15:00] AregevDev opened #77 "Support for 128 bit integers?"
The program crashes when trying to serialize them, complaining i/u128 is not supported
Serde itself already has support for that

[2018-10-09 15:21] pyfisch commented on #77
AFAIK neither the CBOR RFC 7049 nor an extension in CBOR supports 128 bit numbers. (big decimals are supported by the standard but not by this crate) If you need 128 bit integers I suggest to serialize them as a slice.

[2018-10-09 15:36] AregevDev commented on #77
Oh, didn't know that, started working on PR, never mind

[2018-10-09 16:27] dtolnay commented on #77
Is this a crash or does serde_cbor return an error?

[2018-10-24 19:02] vmedea opened #78 "how to make sure a Vec<u8> is serialized as `bytes`?"
I have a structure with a `Vec<u8>` that I serialize from Rust, using `cbor::ser::to_writer_packed`
[code]
in Python, the `code` field deserializes to something like
[code]
What I would expect is `b'\x7fELF\x01\0x01\0x01\0x00'`. It looks that it is using an array of individual values instead.
This is using a lot of extra space, is it possible to avoid this and use cbor's native bytes type?
(sorry

[2018-10-24 19:19] sfackler commented on #78
You can use the [serde_bytes](https://crates.io/crates/serde_bytes) crate.

[2018-10-25 08:30] medusacle commented on #78
awesome, thank you! basically just
[code]
and it worked it is embedded verbatim now

[2018-11-12 22:04] chrysn opened #79 "no_std support"
Serde supports no_std nicely (judging from the documentation); it would be nice if serde_cbor could too.

I'm currently looking around for what parts of the crate would need to be conditional on std's presence, so basically whether cfg(feature=...) gating; will keep this issue updated.

[2018-11-13 00:27] chrysn commented on #79
The single thing that makes this tricky is the prevalence of IO errors throughout the return codes -- many things possibly return an std::io::Error which is unknown to no_std environments, even though they have no chance of actually producing one. Looking at different variants of how to solve this -- my current string replacement orgy of annotating every error or result with its IO error type (for

[2018-11-13 02:41] sfackler commented on #79
I was going to suggest looking at serde_json, but it looks like that doesn't have no_std support yet!

[2018-11-13 08:44] chrysn commented on #79
There is serde_json_core, but that seems to be completely independent --
which is IMO not something to strive for.

I think that with some flexibility in the error handling (eg. an error
type that can be IOError, and one that can't but is
Into<ErrorMaybeEvenIO>), serde_cbor can have its "core" parts in it
unconditionally (along with the simpler impls for `de` that work off
slices and that like), a

[2018-11-13 08:51] dtolnay commented on #79
For serde_json we intend to provide a no_std mode that requires alloc. The no alloc case is covered by serde_json_core.

[`serde_json::ser::Formatter`](https://docs.rs/serde_json/1.0.33/serde_json/ser/trait.Formatter.html) uses `io::Error` but in no_std mode we can make all those methods private and disallow downstream impls of the trait. Haven't looked at whether it is a more complicated situatio

[2018-11-13 10:49] chrysn commented on #79
The no_std use I'm aiming for is more than just not having std in public
types (as using private to prevent impls would achieve) -- I'm working
with what effectively is Rust on bare metal on microcontrollers, and
there is just no std::io defined (there is no concept of an operating
system's file there either).

The use of alloc is two-fold as far as I've read the code: The Value type
obviously dep

[2018-11-13 13:49] pyfisch commented on #79
I don't think the Error type is a problem as it does not really expose strings or the io::Error type in the public API. https://docs.rs/serde_cbor/0.9.0/serde_cbor/error/struct.Error.html

[2018-11-13 16:56] sfackler commented on #79
It does allocate though so it'd need to change in no_std mode if we don't want to require alloc.

The one bit of complexity in the deserialization logic is dealing with indefinite length bytes and strings since we build those up into a buffer.

[2018-11-13 17:10] chrysn commented on #79
I'll have a look at the infinite strings when I get there, but intuitively I don't see much of a challenge in terms of allocation on non-allocating platforms, for those can't have arbitrarily long strings in the first place. (They'd only deal with that in a streaming fashion, but I haven't dived deep enough into serde to see whether that's actually supported.)

Meanwhile, I'm hacking along at an [

[2018-11-13 17:50] dtolnay commented on #79
This is the same use case as in serde_json. By removing method signatures from the public API we can adjust them internally to use a type that is not io::Result.

[2018-11-14 12:10] chrysn commented on #79
I've to take some rather brutal cuts (disabling ser, and not implementing any string stuff in no_std mode), which I'll try to push into reasonable ones yet -- but can now parse some basic CBOR using this crate on no_std with the experimental branch.

[2018-11-14 16:19] chrysn commented on #79
Status update (let me know if they're too frequent): Serialization works as well, and with fewer limitations (no problems around strings). It'll all probably need some cleanup to make the delta go down, and make it clearer what the Write trait does exactly. (Also, string deserialization is still to be solved.)

I could need a bit of guidance when it comes to error handling. In the first commits, I

[2018-11-14 18:28] pyfisch commented on #79
Can you show us the branch? I think guidance is easier if we can see the code.

[2018-11-14 18:33] chrysn commented on #79
Oups, thought I had linked it already; here it is: https://github.com/chrysn-pull-requests/cbor/tree/no_std_experiments

[2018-11-15 14:52] pyfisch commented on #79
Looks good.

About the Write abstraction I am not sure. I think it may be good idea to first land no-std-deserialization and figure serialization later out.

[2018-11-15 14:53] pyfisch commented on #79
@sfackler What do you think?

[2018-11-16 09:43] chrysn commented on #79
Finite strings now work in deserialization too.

Infinite strings still don't work on no_std, as they'd need either some kind of scatter-gather support of serde visitors (sounds unlikely to me), or an additional reader that works on a mutable slice (and shifts data around as it reads over it -- a bit scary and possibly needs unsafe, but nice for embedded environments).

Preparing infinite string d

[2018-11-30 15:54] gnuvince opened #83 "Remove EOF check during deserialization?"
I use bincode in one of my programs, and I'm interested in switching to CBOR to make interoperability with other languages easier.  One blocker that I have at the moment is the difficulty of quickly reading a small header struct in a very large file (2–4 GiB).  Consider these data structures:

    #[derive(Serialize, Deserialize)]
    struct Header {
        magic: u32,
        timestamp: i64

[2018-11-30 16:33] sfackler commented on #83
from_reader is a simple wrapper over `Deserializer`: https://github.com/pyfisch/cbor/blob/master/src/de.rs#L73-L76

You can just work with the Deserializer type yourself and not call eof() until desired.

[2018-12-01 03:59] gnuvince commented on #83
Good idea @sfackler, I'll give that a try.  Thanks!

[2018-12-01 04:00] #83 closed

[2018-12-13 20:55] TimNN opened #84 "Use of forward_to_deserialize_any! leads to surprising visitor calls"
I was attempting to (de-)serialize an enum from an integer, as described in https://serde.rs/enum-number.html.

When deserializing, I got the somewhat confusing error message ``invalid type: integer `1`, expected [My Enum]``.

The issue is, as I found out later, that `cbor` uses `forward_to_deserialize_any!`. The implementation of `deserialize_any()` then visits the integer type actually encoded i

[2018-12-19 15:56] chrysn commented on #79
Currently what's pending is the review of #80. Once that is merged, I'll rebase the no_std branch onto that, but the patch series in #80 has seen enough standalone progress that doing much with the no_std branch is not too practical at the moment.

(With the MutSliceRead of #80, even infinite strings can be deserialized if a reader with write access to its buffer is used.)

[2018-12-19 17:16] wildarch commented on #79
That makes sense, I'll be patient then :wink:.

Something else related to no_std support: It might be useful to not seal the internal `Read` trait when the std feature is disabled. Without std there is no `io::Read`, which only leaves slices as a source. Given that no_std platforms are often embedded devices with very little memory, having some kind of Read trait is a must for parsing a large amou

[2018-12-19 17:36] chrysn commented on #79
Is core::io on the way of becoming a thing?

Problem with unsealing it is that it becomes API -- had that any stability guarantees, the no_std patches would be a lot harder.

Options might be having am explicit feature to unseal (like embedded-hal/unproven), or versioning Read independently. I'd assume, though, that having a slightly more generic iter-over-slices-ish Read can suffice in many cases

[2018-12-23 13:02] chrysn commented on #17
The way item sorting is currently implemented makes solving #79 a bit harder as it places serialized objects in temporarily allocated memory. That's in theory a non-issue when serializing BTreeMap data (which won't be there in embedded anyway -- it's only about avoiding ifdef hell there), but harder AFAICT for serialization of non-packed struct fields (as serde calls serialize_field, so we can't a

[2018-12-23 14:48] chrysn commented on #17
Two more notes in this context:
* The online reference implementation does not produce canonical CBOR either, weakly indicating that we might not need to produce canonical CBOR unconditionally (but only when requested).
* There are some [pending errata items on the CBOR RFC](https://www.rfc-editor.org/errata_search.php?rfc=7049) that relate to canonicalization. There is an update to CBOR [in the w

[2018-12-29 09:55] pyfisch opened #85 "Change enum serialization"
https://serde.rs/enum-representations.html

Serde CBOR should use the "Externally tagged" format by default in the next breaking version.
Also make sure that the other formats round-trip.
The current array based serialization should be kept as a legacy format so old data can be read.

[2018-12-29 14:53] pyfisch opened #86 "(De)serialize all simple values"
It would be nice if unknown simple values would be parsed and if custom simple values could be serialized. This is low priority as there are currently no simple values registered besides those from RFC 7049 which are supported.

Additionally *Null* and *Undefined* should have different deserializations.

* https://tools.ietf.org/html/rfc7049#section-3.5

[2018-12-29 15:07] pyfisch commented on #85
@ogoodman @kostko I am considering to make the serialization from #67 the new default.

[2018-12-30 08:39] kostko commented on #85
Yeah, I agree it would be more consistent. This would be a breaking change though as it would change the default serialization format.

[2019-01-02 19:43] sfackler commented on #84
@dtolnay what's the right thing to do here? Should we have a bunch of visitors that internally do the right cast?

[2019-01-03 20:00] dtolnay commented on #84
Serde_json also currently gives you its own choice of integer type rather than the one that the Deserialize impl asks for.

I agree with @TimNN, it would be helpful for the Deserializer to handle the conversion. I would be open to providing a Visitor wrapper in the serde crate to perform the conversion to a preferred integer type. Something like:

[code]

and maybe update forward_to_deserialize_an

[2019-01-12 02:29] tiziano88 opened #87 "Support integer and other types as key"
Currently there seems to be no way of specifying that a field of a struct correspond to a numeric key. I am not sure whether this would require an additional annotation, since even using `#[serde(rename = "1")]` would be ambiguous between the string "1" and the integer value 1.

[2019-01-12 03:18] sfackler commented on #87
There is the packed format, where the index of the field is used instead of its name: https://docs.rs/serde_cbor/0.9.0/serde_cbor/struct.Serializer.html#method.packed

[2019-01-12 06:06] tiziano88 commented on #87
AFAICT that only works for serialization but not for deserialization? Also for my use case the indices are not contiguous, and in fact some of them are negative numbers, so the sequential numbering would not work anyways. WDYT?

[2019-01-12 06:38] sfackler commented on #87
It does work for deserialization.

You may need to manually implement Serialize and Deserialize to get the behavior you're looking for.

[2019-01-12 12:08] vorner commented on #47
Hello

Could I add one more to the list? https://rust-lang-nursery.github.io/api-guidelines/interoperability.html?highlight=write#generic-readerwriter-functions-take-r-read-and-w-write-by-value-c-rw-value

I've hit it with the `to_writer` function, that mandates `&mut W` (furthermore sized one). I was in a function that had a `&mut dyn Write` parameter and I couldn't pass it directly. It's easy to

[2019-01-31 18:15] nifker commented on #85
@pyfisch I'm interested in enums(which are holding arguments) represent the enum type as integer - similiar to https://crates.io/crates/protocol - is this possible?

[2019-02-11 18:48] nifker opened #91 "Enums as integer serialization"
I'm interested in enums(either holding arguments or not) representing the enum type as integer - similiar to https://crates.io/crates/protocol - Is this possible?

[2019-02-11 18:55] #91 closed

[2019-02-21 22:01] remexre opened #92 "Deserialize value, returning rest of slice"
This is related to #61 but not the same -- I want to deserialize CBOR values as they stream in, without throwing away the rest of the buffer; with `serde_json`, I do:

[code]

However, no equivalent `StreamDeserializer.byte_offset()` exists for `serde_cbor`.

[2019-02-23 15:38] dvc94ch commented on #3
Any news on this?

[2019-02-23 23:02] nifker opened #93 "from_reader implementation using &mut Read"
I have some types where I cant consume the reader and thus not use the from_reader function - would it be possible to change the implementation so use it uses a &mut Read?

[2019-02-23 23:10] dtolnay commented on #93
Could you share a minimal example of the code you would like to be able to write that doesn't work currently?

[2019-02-23 23:21] nifker commented on #93
Playground still has no CBOR support.
But the structs field is private and it is a network socket.

[2019-02-23 23:26] dtolnay commented on #93
Would it be possible to put together a minimal example using std::fs::File or something else basic as the reader, to show what doesn't work? It's fine if it needs to be built outside of the playground.

[2019-02-24 09:24] pyfisch commented on #93
probably related: https://rust-lang-nursery.github.io/api-guidelines/interoperability.html#generic-readerwriter-functions-take-r-read-and-w-write-by-value-c-rw-value

[2019-02-24 10:29] nifker commented on #93
@pyfisch had the proper solution - kudos to you :D

[2019-02-24 10:29] #93 closed

[2019-02-26 18:49] nifker opened #94 "Retrieve underlying error from error::Error"
I would like to get the e.g. IO-Error from the Error type. So it would be senseful to implement source() or a custom method which can achieve this.

[2019-02-26 19:01] sfackler commented on #94
Since we need to support Rust releases before `source` was stabilized, we should use https://crates.io/crates/rustc_version in a build script to conditionally compile the method.

[2019-02-26 20:18] dtolnay commented on #94
Alternative: `From<serde_cbor::Error> for io::Error` which maps the other error categories appropriately.

[2019-03-02 17:16] pyfisch commented on #3
Nope, if this should be done well it needs some help from serde. Currently there is a lot of work going on related to no-std compatibility and I plan to generally polish the crate. When this is finished tags can be discussed again.

[2019-03-02 17:30] sfackler commented on #3
This may need to wait for specialization, where this crate could define subtraits of Serializer/Deserializer/etc that provide extra methods to interact with tags. Serialize/Deserialize implementations could then specialize for that subtrait to interact with the extra functionality.

[2019-03-02 20:55] pyfisch commented on #94
Will be available in the next version.

[2019-03-02 20:55] #94 closed

[2019-03-14 09:59] chrysn opened #98 "Split out sealed traits instead of making them unsealable"
The `unsealed_read_write` feature that lifts the seals off Read and Write is convenient now, but I have doubts it's ideal with respect to maintaining stable versions: A crate that depends on serde_cbor/unsealed_read_write could only depend on a specific version for lack of API guarantees, and worse, libraries have indirect dependencies on serde_cbor/unsealed_read_write could inadvertently start us

[2019-03-18 08:56] pyfisch opened #102 "Fuzzing doesn't work"
[code]

Somehow it requires the `serde_bytes` crate as a dependency and not as a dev-dependency but I have no idea why it is needed at all for fuzzing.

[2019-03-20 02:05] sfackler commented on #102
It looks like this isn't a fuzz-specific problem, but actually a problem with anything that depends on the crate. The default-enabled std feature enables `serde-bytes/std`, but it seems like that breaks when not building serde_cbor itself since dev dependencies aren't included?

[2019-03-22 10:50] SuperFluffy opened #104 "Serialize and deserialize several objects to/from a same file"
In the following example, I serialize `System` followed by `State` to a file. I do some calculations on `State`, and store the result in the file from time to time.

I then want to read the system and all states one by one.

Is it possible to do something like this with `cbor`? So far, I was using `bincode`, where this is possible, probably because it is not self-describing. But for portability pu

[2019-03-22 14:33] sfackler commented on #104
`from_reader` checks to make sure that there's nothing more in the stream after it finishes deserializing. You can instead construct a `Deserializer` directly and use that:

[code]

[2019-03-29 16:15] baloo commented on #102
I can confirm what @sfackler is saying, to me master is broken, and `no-std` feature does not work either:
```error[E0277]: the trait bound `error::Error: std::error::Error` is not satisfied
   --> /home/baloo/work/dev/cbor/src/de.rs:700:18
    |
700 | impl<'de, 'a, R> de::Deserializer<'de> for &'a mut Deserializer<R>
    |                  ^^^^^^^^^^^^^^^^^^^^^ the trait `std::error::Error` is no

[2019-03-30 12:29] pyfisch commented on #87
@tiziano88 do sfackler's suggestions solve your problem?

[2019-03-31 10:11] pyfisch commented on #102
If no one figure this out probably the best way forward is to remove `serde_bytes` as a dependency entirely.

[2019-04-01 12:37] tiziano88 commented on #87
I have not attempted writing my own Serialize and Deserialize methods yet, but I am intending to do so at some point. Will update this thread if / when that happens.

[2019-04-11 07:54] pyfisch commented on #87
You can re-open the thread if / when the suggestions don't work.

[2019-04-11 07:54] #87 closed

[2019-05-09 11:33] dereulenspiegel opened #107 "Serialize structs as array"
For some use cases it would be very useful to be able to serialize structs as CBOR arrays. The CDDL (https://datatracker.ietf.org/doc/draft-ietf-cbor-cddl/?include_text=1) actually specifies that this should be possible with CBOR and implementations in other languages support this too. On my current project I am trying to implement a representation of certificates with CBOR (https://tools.ietf.org

[2019-05-12 15:27] Nadrieril opened #109 "serialize_f64 is too clever"
The [`serialize_f64`](https://github.com/pyfisch/cbor/blob/9df0c6f0ab8af0d0782c085318caea33df626bc7/src/ser.rs#L471-L479) method of the cbor serializer tries to be clever: if the provided value fits in a `f32` or `f16`, it uses the shorter representation to save bytes.
I'm using cbor in a context where the output is passed through a hash function, so the precise representation chosen is important.

[2019-05-12 18:07] pyfisch commented on #109
[Section 3.6](https://tools.ietf.org/html/rfc7049#section-3.6) states that an encoder can encode a number in any way it likes to as long as the numeric value stays identical but applications may specify something else.

It should be noted that serde can't decode integer values if they are stored as floats (If I recall correctly).

As long as the encoder always uses the same encoding scheme I don't

[2019-05-12 18:45] Nadrieril commented on #109
That's only if there is only one encoder used. I'm working on the Rust implementation of the [Dhall language](https://github.com/dhall-lang/dhall-lang), and this language in particular allows adding integrity checks to files. Those integrity checks work by encoding the file as binary (following a precise encoding specification), and then hashing the result. But because the language has several imp

[2019-05-12 19:49] Nadrieril commented on #109
Here's my reasoning behind changing the behavior. There are two possible behaviors one may want when encoding a f64 value:
1. encode the f64 as the smallest representation possible;
2. encode the f64 as f64.

With the current behavior, 1. is automatic and 2. is impossible. If we made instead 2. the default, then 2. would be automatic and 1. would be doable with a small workaround like a `deseriali

[2019-05-13 06:42] pyfisch commented on #109
The Dhall language is an interesting use-case for CBOR. The referenced specification says that `Double` shall be stored as `Single` if possible and the special float values are stored as `Half`.

Since you are the first person asking for this feature I'd suggest you fork the crate for now and make the necessary changes. For example [bignums](https://github.com/dhall-lang/dhall-lang/blob/master/sta

[2019-05-13 06:57] pyfisch commented on #107
Hi,

for now it is easiest to  implement it as a custom Serializer/Deserializer. But the more idiomatic way would be to create a new [container attribute](https://serde.rs/container-attrs.html) in serde that specifies that this struct should be serialized as an array.

[2019-05-30 14:59] ChaseElectr opened #110 "Add byte_offset() method for StreamDeserializer."
I'm using serde_cbor as serializer and store datas in a file side by side. When I read the file and deserializing datas, I want to remember every data's offset in the file so that I don't need to keep the entire file in the memory. But only the struct Deserializer has a byte_offset() method, and StreamDeserializer not. I think we can easily add it.

[2019-06-01 02:59] thanatos opened #112 "What if I don't want the packed serialization?"
I'm trying to avoid having a format that inadvertently works. While avoiding serialization is a matter of just not calling the `_packed` functions, deserialization seems to implicitly always use it.

E.g., coding against a spec, I do not want other, incorrect (according to the spec, which might be agnostic to Rust/`serde_cbor`) to successfully deserialize, lest someone thinks that format *is* supp

[2019-06-01 21:00] pyfisch commented on #112
Your assessment is unfortunately correct. In the next version I want to change the default serialization of enums anyway (#85) so I might as well make de-serialization more restrictive.

[2019-06-03 16:38] PraneshAnubhav commented on #79
@wildarch @chrysn
I want to use CBOR in rust with no_std. Is this available now? If yes, can you please tell me how to use it?

[2019-06-03 18:55] wildarch commented on #79
Hi!

Always nice to see more people interested in no-std Rust 😄.

To get this to work you can configure your Cargo.toml to use the master branch of this repo and disable the default features, e.g.
[code]
Please note that I'm on holiday right now so I don't have a laptop to verify the above.

[2019-06-04 15:15] PraneshAnubhav commented on #79
@wildarch
Thanks for your response! It works. I have referred to no_std test cases for it's usage in no_std Rust.

[2019-06-06 10:32] pyfisch commented on #110
I believe this is done?

[2019-06-06 10:32] #110 closed

[2019-06-07 20:43] #102 closed

[2019-06-09 16:01] pyfisch opened #117 "Configuration for Serializer and Deserializer"
Idea:
[code]

Which options are missing?

[2019-06-09 20:24] #85 closed

[2019-06-10 17:20] baloo opened #119 "Release"
The last release available for this crate is 0.9 which is 10 month old. There is a couple of improvement pending in master that I would need, and a newer release would be nice.

@pyfisch It looks like you've been submitted a couple of changes lately. Would you be able to list all tasks/fixes required before a release? I can try to help with some of them.

Thanks!

[2019-06-10 19:10] pyfisch commented on #119
Hi @baloo, I would appreciate your help.

These are the things that should be done before a release:

* [ ] complete the [deserializer-options](https://github.com/pyfisch/cbor/tree/deserializer-options) branch
  * [ ] test that if `accept_standard_enums` is false no enums-as-map can be deserialized
  * [ ] test that if `accept_legacy_enums` is false no enums formatted as arrays can be deserialized

[2019-06-12 09:31] drewhk opened #125 "RawValue support like in serde_json"
`serde_json` has the ability to preserve chunks of unparsed JSON in a `RawValue` (which can either borrow a slice of the original input or box+copy the bytes verbatim). This is very useful for low-level infrastructure code that pushes envelopes around only parsing part of the message and not the payload itself. I tried to implement this for CBOR using the high level APIs, but it seems like this is

[2019-06-12 17:57] baloo commented on #119
I have a hard time understanding how the packed format is actually deserialized. I'm not sure I can pull that one off :(

[2019-06-13 07:53] pyfisch commented on #119
Yeah, I initially assumed it was implemented in this crate but mapping the numbers to named fields and variants appears to be built-in serde magic.

[2019-06-13 07:56] pyfisch commented on #112
@dtolnay Serde deserializes maps with numbered keys like `{0: "foo", 1: 42}` to structures like `struct Foo {name: String, age: u32}`, is there a way to opt-out of this and only accept named keys?

[2019-06-13 13:01] petreeftime commented on #3
I'm also interested in tagging. I would like to implement a COSE library [https://tools.ietf.org/html/rfc8152], but that requires tags. https://github.com/BurntSushi/rust-cbor suggests using this crate, since that one is unmaintained, but this one doesn't have tags.

SerDe seems stuck on tagging due to missing specialization support: https://github.com/serde-rs/serde/pull/455. Do you think adding

[2019-06-13 17:48] baloo commented on #112
From my understanding, this is only code generated in the serde_derive deserializer. You may remove that behavior by manually implementing the Deserializer.

I also have another use-case where *by spec* the format is packed, with custom indexes:
https://github.com/mozilla/authenticator-rs/blob/df28de2/src/ctap2/commands.rs#L1178
https://github.com/mozilla/authenticator-rs/blob/df28de2/cose/src/lib

[2019-06-14 06:22] dtolnay commented on #112
One way would be that if the Deserializer is called with deserialize_struct then use an implementation of MapAccess whose next_key only allows string keys. In serde_json we do the same thing. The relevant code is https://github.com/serde-rs/json/blob/v1.0.39/src/de.rs#L1763-L1768

[2019-06-14 17:22] baloo commented on #112
I implemented that in #126, thank you @dtolnay !

[2019-06-16 16:59] baloo commented on #119
@pyfisch let me know if you want me to do the last item on the list, and as mentioned, if so let me know about any content you'd want on that page.

[2019-06-18 10:54] adam-rhebo opened #127 "Cannot deserialize packed serialization of IpAddr"
The following test program
[code]
fails with
[code]
but shows no issues when `to_vec_packed` is replaced by `to_vec`.

[2019-06-18 20:42] baloo commented on #127
This is looks fixed in the `deserializer-options` branch which should be merged in master and released shortly.

[2019-06-23 14:46] pyfisch commented on #119
@baloo for the docs just have a look that they are up-to-date (e.g. don't reference any removed functions. The long example document with John Doe should be removed as I don't think anymore it is that helpful. Instead there should be a usage example like in the readme (or the same example copied).

[2019-06-23 14:58] pyfisch commented on #17
This is done. Convert the values you want to serialize in canonical format to values and then call serialize.

[2019-06-23 14:58] #17 closed

[2019-06-23 15:25] pyfisch opened #130 "Implement Hash trait for Value"
The `serde_cbor::Value` should implement `std::hash::Hash`, so it can be used in `HashMap` and others.

This is a bit work as `k1 == k2 -> hash(k1) == hash(k2)` must hold.

If you need this, please leave a comment.

See also #47

[2019-06-23 15:44] pyfisch commented on #47
Regarding [`C-STRUCT_BOUNDS`](https://rust-lang-nursery.github.io/api-guidelines/future-proofing.html#data-structures-do-not-duplicate-derived-trait-bounds-c-struct-bounds): `IoRead` has a bound on `io::Read` while `IoWrite` does not have a bound on `io::Write`. Additionally `FmtWrite` has a bound on the in-crate `Write`. Should all these bounds be removed?

[2019-06-25 18:29] baloo commented on #127
Fixed in master, should be closed

[2019-06-25 18:30] baloo commented on #119
Anything missing for a release?

[2019-06-25 21:01] #127 closed

[2019-06-26 01:31] baloo commented on #112
this issue is fixed in master and should be closed

[2019-06-26 05:56] #112 closed

[2019-07-01 02:51] baloo commented on #119
@pyfisch up?

[2019-07-02 07:33] pyfisch commented on #119
## Making a Release

* [ ] Make sure the crate compiles and all tests pass.
* [ ] (Optional) Test that the fuzzer works and fuzz the crate for some time.
* [ ] Write a list with all changes made since the last release
* [ ] Increment the version number in `Cargo.toml` and the `README.md`. Bugfixes increase the patch version while new features or an increased minimum Rust version require a new mino

[2019-07-02 07:39] pyfisch opened #134 "Feature unsealed_read_write should work without std"
Run `cargo build --no-default-features --features unsealed_read_write`.

It fails with:

[code]

@baloo now we know why `Error::Io` is needed.

[2019-07-02 07:58] pyfisch commented on #119
* `no_std` support!
* The default enum format was changed. It now uses the [externally tagged](https://serde.rs/enum-representations.html) format recommended by serde.
    One can optionally serialize to the legacy array-based format.
    Both formats are accepted for deserialization.
* Deserialization is configurable.
    Opt-out of the packed format or only accept one enum serialization.
* `Valu

[2019-07-02 15:39] #119 closed

[2019-07-02 17:09] singpolyma-shopify commented on #109
@Nadrieril I just saw this -- this might be a good reason to re-visit why Dhall is not using canonical CBOR for floats (which I believe this crate is using and I also had to patch special support for into my ruby CBOR library).

[2019-07-02 19:25] baloo commented on #134
Good catch! Sorry I missed that

[2019-07-02 21:01] baloo commented on #119
Thank you so much!

[2019-07-03 05:59] #134 closed

[2019-07-08 08:27] kostko opened #136 "value::Serializer should set is_human_readable to false"
Currently `value::Serializer::is_human_readable` returns `true` (by default as it is not overriden), leading to incorrect serialization when compared to using the regular `serde_cbor` serializer which correctly returns `false`.

This causes problems as serializing via `value::Value` is the only way (in 0.10) to achieve canonical serialization.

[2019-07-08 16:22] #136 closed

[2019-07-27 12:21] portstrom opened #138 "Struct with named fields can be deserialized from sequence"
This [issue in Serde](https://github.com/serde-rs/serde/issues/1587) affects Serde Cbor.

Example code adapted to Serde Cbor:
[code]

[2019-07-27 12:23] portstrom commented on #107
The deserializer part of this is already implemented [by accident](https://github.com/pyfisch/cbor/issues/138). The correct way to implement it would be to adapt Serde Derive to have a container attribute for this purpose.

[2019-08-04 09:27] rslife opened #140 "Value i128 serializer breaks cbor <=> json Value to Value conversions"
Hello.

Starting with 8cfcea9326e2e6bdf645e897c09af1c533f584c5, direct conversions between cbor `Value`s and json `Value`s is no longer possible.

I fully understand the rationale behind using one integer type to cover the full integer value range supported by cbor. But I wonder what are your thoughts on bringing back, what was admittedly accidental, support for this type of conversion.

[2019-08-05 19:55] pyfisch commented on #140
Hello,

that is unfortuate. Can you post a complete example with code of a failed conversion?
I'd like to bring it back, but it may be easier to change serde-json to accept all number types.

[2019-08-05 19:57] pyfisch commented on #138
Ok, this comes as a surprise to me.

[2019-08-07 10:03] rslife commented on #140
[code]

This obviously happens whenever integer values of any type (not just `i32`) are involved.

[2019-08-16 06:39] PraneshAnubhav opened #142 "[Query] Can you please explain comparing serialization of "foobar" with bytes of "ffoobar"? Why the extra "f"?"
https://github.com/pyfisch/cbor/blob/bb2993feb556d5b670663f240b2ac81ebe5e2415/tests/ser.rs#L6

[2019-08-19 10:04] petreeftime commented on #107
I have solved a similar issue by defining the structs as tuples instead, although it's not the nicest way to do this.
eg:
[code]

[2019-08-19 10:16] petreeftime opened #143 "serde_cbor allows duplicate keys in map"
This is not exactly a bug, but it's undefined behavior which I think should result in a parsing error: https://tools.ietf.org/html/rfc7049#section-3.4 or at least there should be a way for a user of serde_cbor to be able to discern if a map inside a CBOR object is malformed.

[code]
prints out
[code]

serde_cbor should check when inserting a new key if key is not already in use and emit a parsing

[2019-08-20 11:11] pyfisch commented on #143
Actually it is implementation defined behavior. The spec outlines a few different options (only one value, error) and serde-cbor chose one of them.

One issue with this is that you need to keep around all map keys and compare each key to the previous keys. This incurs a performance penality and therefore an opt-out should be offered.

If you use a `struct`, instead of a map, serde will error on du

[2019-08-20 11:14] pyfisch commented on #142
The first byte from the serialization of "foobar" is 0x66 which happens to be the ASCII value of "f". This byte indicates that a string of length 6 follows.

See also. http://cbor.me/?diag=%22foobar%22

[2019-08-20 11:14] #142 closed

[2019-08-20 13:47] petreeftime commented on #143
I found something related in serde: https://github.com/serde-rs/serde/pull/916. I'm not sure I figured out the solution yet from the discussion, but implementing my own Deserialize might be a solution.

[2019-08-20 19:11] petreeftime commented on #143
This seems like a generic serde feature, so I will close the issue in this repo.

[2019-08-20 19:11] #143 closed

[2019-08-30 20:19] jkcclemens opened #144 "Enums inside flattened structs are serialised improperly"
See [here][impl] for a minimal implementation of this bug. `cargo run` is sufficient to show the issue (it will panic).

When an enum inside of a flattened struct is serialised, it is serialised as an integer. This makes the serialisation fail round-trip: it cannot be deserialised after being serialised.

Also surprising to me is that, even though I'm using `to_vec_packed`, all the field names are

[2019-09-02 16:36] pyfisch commented on #144
That's odd.

[2019-09-06 19:48] nhynes commented on #77
related: #145

[2019-09-07 10:14] pyfisch commented on #79
I think this is done?
Are there any improvements planned to no-std support? @wildarch  @chrysn

[2019-09-07 11:02] pyfisch commented on #144
I've added a test to see if the names of struct are serialized if packed encoding is selected. The names are not serialized if packed encoding selected unless the `flatten` attribute is used.

Normally if a struct is serialized both the field indizes and the field names are sent to serde-cbor. But if the flatten attribute is present only the field names are forwarded. Therefore I think it is not p

[2019-09-07 11:06] pyfisch commented on #140
Thanks for the example code. Would you mind opening an issue for [serde-rs/json](https://github.com/serde-rs/json) and ask them to accept `i128` integers for values if they are in the 64-bit range?

[2019-09-07 17:21] jkcclemens commented on #144
-----BEGIN PGP SIGNED MESSAGE-----

I see! Good to know why that happens.

The main point of this issue is that the enum in my example does not serialise correctly, though. It serialises as an integer and not a string

\-------- Original Message --------
On 7 Sep 2019, 07:02, pyfisch < notifications@github.com> wrote:

[the serde docs]: https://serde.rs/attr-flatten.html
[http_cbor.me_bytes_81_BF_

[2019-09-07 20:20] wildarch commented on #79
I think basic `no_std` support is there, so indeed this issue could be resolved. I am not currently working on anything related to this, but maybe @chrysn is working on something?

[2019-09-08 08:16] pyfisch commented on #144
The enum *should* serialize as an integer (because of packed encoding). As I understand it the flatten attribute should only affect the attribute names. To me the question is rather why the serialization does not round-trip even though the only difference between flatten+packed and just flatten is that the contained enum is serialized differently.

[2019-09-09 19:53] sirhelly opened #150 "serde_cbor / serde-transcode"
Hi,

I am trying to use serde_trancode togehther with serde-bor, according to the
basic serte-transcode sample - but had no luck.
Any suggestions?

-----
[code]

sample code below.
-----

[code]

[2019-09-10 19:34] pyfisch commented on #150
Serde CBOR `Serializer` does not accept types that implement `std::io::Write` but you need to wrap them with `serde_cbor::ser::IoWrite`.

The correct code is:

[code]

[2019-10-05 14:44] #150 closed

[2019-10-05 14:47] pyfisch commented on #117
Options are implemented in v0.10.0

[2019-10-05 14:47] #117 closed

[2019-10-06 18:01] pyfisch opened #157 "Implement semantic tagging of values"
Support for CBOR tagged values is the most requested feature in serde_cbor (see #3, #56, #129, #151). Tags allow users to "give \[a data item\] additional semantics while retaining its structure". They enable the definition of common data types and they are needed to correctly implement some specifications that use CBOR (see for example [COSE](https://tools.ietf.org/html/rfc8152)).

There is a hac

[2019-10-16 14:14] Don42 opened #158 "byte_offset not available for file reader"
Thank you for your work on serde_cbor, it is quite useful.

# Description
I currently have a log-structured file containing independently written cbor encoded objects.
I'm trying to iterate through the file, reading and decoding all the objects, and noting the offset of each object in the file. This is supposed to allow later lookup without keeping the whole object in memory. Unfortunately I can g

[2019-10-17 13:45] pyfisch commented on #158
Hi Don42,

are you aware of the [`StreamDeserializer`](https://docs.rs/serde_cbor/0.10.2/serde_cbor/struct.StreamDeserializer.html). It might be useful to decode the log file.

@baloo Do you recall, why in #101 `Offset` is implemented for `SliceRead` but not for `IoRead`? `IoRead` contains an `offset` field within the `OffsetReader`.
If I don't miss something it is straightforward to add `byte_off

[2019-10-18 04:06] baloo commented on #158
most likely because I forgot to :/

[2019-10-18 08:33] Don42 commented on #158
@pyfisch I knew it existed, but I didn't think of calling `next()` directly. Thanks for the idea. Now I can confirm I get the same issue with the `StreamDeserializer`.

[2019-10-18 09:14] pyfisch commented on #158
@Don42 I have created a new branch with byte_offset for file reader. You could add a git dependency to your Cargo.toml and try it out.

[2019-10-18 09:21] Don42 commented on #158
@pyfisch Seems to work for my usecase. :+1:

[2019-10-20 05:45] d3zd3z opened #161 "to_writer_packed is documented, but not implemented"
The documentation describes a `to_writer_packed`, but this does not appear to be implemented.

[2019-10-22 16:37] vmx commented on #157
Here's my version of the deserializer:

 - Serde: https://github.com/vmx/serde/tree/tagged-value-deserialization
 - serde_cbor: https://github.com/vmx/cbor/tree/tagged-value-deserialization

I'm not happy with the result. One missing thing is to deserialize the value (without the tag) by default. I just couldn't get it working. I always got trait bounds errors. I hope someone can help with that.

[2019-10-25 09:36] #158 closed

[2019-10-26 08:10] #161 closed

[2019-10-26 08:11] pyfisch commented on #161
Thanks!

[2019-10-26 17:23] pyfisch commented on #157
@vmx Thanks for trying. Unfortunately I still have not received any feedback on the serde PR. I fear it might stall and go nowhere. Therefore I will only work on the deserialization part once it has received some positive comments by the serde maintainers. :frowning_face:

[2019-10-27 21:07] #79 closed

[2019-11-10 15:24] pyfisch commented on #157
@dignifiedquire, @vmx, @rklaehn (@Actyx), @mcamou, @bantonsson, @Alexander89 and all others interested in support for CBOR tagged values I would appreciate your input which of the options outlined below you would prefer and if you have any other suggestions.

Two weeks have passed since serde-rs/serde#1643 was closed. I think it is unlikely that serde will incorporate support for tags any time soo

[2019-11-11 13:22] vmx commented on #157
I think that is generally spoken a good idea. The YAML and MessagePack implementations for Serde both use a general parsing library and have a Serde layer on top. If someone needs tags and doesn't necessarily need Serde, you could still use a the same well tested, established code without needing to look into alternatives.

Does `[patch]` also work for published crates?

5. Find a way to extend Se

[2019-11-12 07:31] urbanslug commented on #161
Sorry, I can't quite understand this piece of documentation. As far as I can tell `Serializer::new` doesn't even exist.

[2019-11-16 13:18] droundy opened #163 "change `from_reader` API to match that of `serde_yaml` and `serde_json`"
The order of the two generic arguments is swapped, which makes changing formats needlessly painful.  This is obviously a breaking change, but would definitely ease use.  I imagine there may be similar issues across the board.  It might be even nicer for `serde` to define the API using a trait.

[2019-11-16 14:32] rklaehn commented on #157
Please don't hit me for the suggestion, but essentially the problem is that there is a missing communication channel between the format and the serializer to allow tags to work. Would it help to just put the damn tag into a threadlocal so that a special visitor can get the tag when it needs to know how to interpret the data? As a stopgap until we can convince dtolnay to help formats that don't exa

[2019-11-16 16:26] rklaehn commented on #157
OK, I just could not resist trying this out: https://github.com/rklaehn/cbor/pull/2

[2019-11-18 07:56] rklaehn commented on #157
Not sure what the implications are of option 4, forking serde. Serde is as close to a standard library as it gets, and lots of crates do offer serde support behind a feature flag. That would all no longer work with a forked serde, right (not entirely sure how that works, as I am rather new to rust)?

[2019-11-18 13:16] #109 closed

[2019-11-18 13:17] pyfisch commented on #34
I've decided that the current errors are *good enough*.

[2019-11-18 13:17] #34 closed

[2019-11-18 13:17] #46 closed

[2019-11-18 13:20] pyfisch commented on #84
This does not seem to come up often.

[2019-11-18 13:20] #84 closed

[2019-11-18 13:22] pyfisch commented on #92
This was implemented: https://docs.rs/serde_cbor/0.10.2/serde_cbor/de/struct.StreamDeserializer.html#method.byte_offset

[2019-11-18 13:22] #92 closed

[2019-11-18 13:22] #104 closed

[2019-11-18 13:25] pyfisch commented on #138
I am not sure if this is an issue or rather just how serde works. If it causes problems it should be solved on the serde side.

[2019-11-18 13:25] #138 closed

[2019-11-18 13:27] pyfisch commented on #140
Would it help if serde-cbor Values emit an u64 for positive numbers and i64 for negative number whenever possible?

[2019-11-18 15:08] rslife commented on #140
Probably yes.

[2019-11-20 20:36] vmx commented on #157
I just want to mention that I've put more thought into the use-case I have. I'll probably go with something that doesn't need Serde support. So I'd be happy to see a separation between the CBOR processing and Serde (like e.g. serde_yaml or msgpack-rust are doing it) and having Tag support in the non-Serde part. I'd also happy to contribute some time helping with such a refactoring.

[2019-11-21 15:30] pyfisch commented on #140
@rslife would you like to submit a PR?

[2019-11-24 15:02] rslife commented on #140
I will send a PR from my home account later.

[2019-11-26 12:53] portstrom commented on #138
Even if this is an issue with serde, serde-cbor should have the issue open until it has been fixed upstream.

[2019-11-26 22:36] pyfisch commented on #138
Fine. I don't think this is an issue but rather a feature of serde to help with the deserialization of some data formats that do not distinguish between arrays and maps. And I don't keep issues around for features people find surprising.

(Btw besides the example with structs and sequences it can be rather surpising how serialized data is deserialized in serde. Serde appears to follow Postel's law

[2019-11-30 02:49] omegablitz opened #166 "Allow increasing recursion limit"
I'm trying to deserialize very large CBOR files, and end up hitting the recursion limit of serde_cbor. Would it be possible to provide a way to increase or disable the recursion limit?

The related discussion in serde_json can be found here: https://github.com/serde-rs/json/issues/334.
The approach they took was to add a `Deserializer::disable_recursion_limit` function.

[2019-12-01 15:33] pyfisch commented on #166
The API seems reasonable.

Should this be an `unsafe` function as it may cause stack overflows and by extension denial of service or worse?

[2019-12-01 21:00] omegablitz commented on #166
Marking it as `unsafe` may be a bit much as it doesn't violate any of Rust's safety guarantees. I like the approach serde_json took to gate this function, which was to require the library to be built with `features = ["unbounded_depth"]` to make sure the user knows what they're getting into :smiley:

I'm not morally opposed to marking it `unsafe` though, if others prefer that.

[2019-12-03 17:15] omegablitz commented on #166
Another option could be to add a [Deserializer::set_max_depth](https://docs.rs/rmp-serde/0.14.0/rmp_serde/decode/struct.Deserializer.html#method.set_max_depth) function as the Serde MessagePack library does.

[2019-12-04 10:20] PraneshAnubhav opened #167 "Reduce stack size required for deserialization [Help]"
We have a method deserialize which is a wrapper over serde_cbor::de::from_slice_with_scratch method. The code is written for an MCU environment, hence we are using no_std methods. The method is:

/// This method should be used to deserialize a byte array to a data type.
pub fn deserialize<'a, T: Deserialize<'a>>(slice: &'a [u8]) -> Result<T, SerdeError> {
    //let name1 = Task::current().unwrap()

[2019-12-04 10:26] PraneshAnubhav commented on #167
We are working with nRF52840 SoC and freeRTOS as our OS.

Pasting the high water mark defination here:
`
The minimum amount of remaining stack space that was available to the task since the task started executing – that is the amount of stack that remained unused when the task stack was at its greatest (deepest) value
`

[2019-12-05 09:48] PraneshAnubhav commented on #167
@pyfisch
Do you have any data around the memory and CPU consumption during serialization and deserialization?

[2019-12-05 10:17] pyfisch commented on #167
I don't think so if you use serde-cbor. Serde uses recursion to do deserialization and therefore every nested structure adds at least one more stack frame to the stack.

As CBOR is really simple you can write your own serializer/deserializer and achieve lower resource usage. In this case I would avoid recursion and store intermediate results on the heap.

No, I don't collect such data for microcon

[2019-12-05 10:36] pyfisch commented on #166
I think this crate already has to many features which cause problems because every new feature doubles the amount of build configurations. Sometimes the crate breaks if you have a specific combination of features and std/no-std enabled.

[2019-12-05 10:37] pyfisch commented on #166
Is this better than a simple opt-out from depth checking? Or asked another way: Are there people who know that their messages are at maximum nested 323 levels deep and want to set serde-cbor to this value?

[2019-12-05 16:11] omegablitz commented on #166
Yeah, that's totally fair, I didn't think of this.

My particular use case is that I have a server deserializing cbor messages generated by untrusted clients. For my specific application, the cbor messages generates are quite large by their nature.

Setting the max recursion limit would be helpful because it would allow me to accept large cbor messages within reason, but still have a cap in the ca

[2019-12-06 13:44] wildarch commented on #167
Serde has a little known (and slightly hidden) feature where it can deserialize straight into the target struct. For this you can use `Deserialize::deserialize_in_place`, it is hidden from the docs but you can see it [here](https://docs.rs/crate/serde/1.0.103/source/src/de/mod.rs). I was in a similar situation with nested objects and it worked like a charm for me.

Hope this helps :smile:

[2019-12-07 14:39] pyfisch commented on #157
@vmx I played around with deserializing CBOR without serde: https://github.com/pyfisch/minicbor

It takes a `&[u8]` and allows you to iterate over the different tokens. Everything else like CBOR values or serializaiton is missing.

One pain-point if something like this should serve as a backend to serde-cbor is that it needs to work with both `Read`/`Write` streams and `&[u8]`/`Vec`.

[2019-12-09 06:35] PraneshAnubhav commented on #167
@wildarch Thanks for quick response. I really appreciate you helping me out. I have few more questions:

1. I have enabled "deserialize_in_place" feature for serde_derive. Do I need to enable "alloc" feature on serde for it to work?
serde_derive = { version = "1.0.103", default-features = false, features = ["deserialize_in_place"]}

2. Does it have any adverse impact on heap if we turn on alloc fe

[2019-12-09 12:53] PraneshAnubhav commented on #167
I wrote code to test this feature but I didn't observe any difference in stack consumption. My cargo dependencies:
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
serde_derive = { version = "1.0.103", default-features = false, features = ["deserialize_in_place"]}
serde_cbor = { version = "0.10.2", default-features = false}
`

pub fn deserialize_in_place<'a, T:

[2019-12-09 20:50] wildarch commented on #167
Unfortunately the code I wrote using this is proprietary and I've since left the company, so I'll have to answer this off the top of my head 😅.
- I don't think you need the alloc feature. You can try to compile without and see if it works?
- You can check if intermediate stack objects are created by deserializing to a global variable, that way you shouldn't see any large stack allocations. Try to

[2019-12-13 23:49] vi commented on #87
Can indexes be specified explicitly, like in Protobuf, instead of relying on struct field order?

Can it support mixed mode where basic, "required" items are numeric, but there can also be optional string-keyed fields?

[2019-12-14 16:21] pyfisch commented on #87
Nope. You need to write your own serializers/deserializers.

Only with custom (de)serializers. If you use implicit numeric indices you can mix them with strings.

[2019-12-16 14:47] vmx commented on #157
@pyfisch Wow, nice! That looks really promising. I sadly have zero time atm to dig deeper or thinking about how serialization would look like. Hopefully I'll have next year.

[2019-12-21 09:10] pyfisch commented on #157
Serialization is the "boring" part because you can just output some bytes.

Getting deserialization right is more difficult. The majority of bugs in this crate were in the deserialization part. Introducing a token iterator is probably makes deserialization much easier than the approach used in serde-cbor where we go directly from bytes to serde structures.

[2020-01-01 22:23] MikeeyBikeey opened #170 "to_value and from_value functions"
I need something like serde_json's [`to_value`](https://docs.serde.rs/serde_json/fn.to_value.html) and [`from_value`](https://docs.serde.rs/serde_json/fn.from_value.html).
Are there plans for adding `to_value` and `from_value` for serde_cbor?
Is it possible to add to serde_cbor? (My knowledge about serializers is limit)

Thanks!

[2020-01-03 20:10] pyfisch commented on #170
https://docs.rs/serde_cbor/0.10.2/serde_cbor/value/index.html

This crate contains a `to_value` and a `from_value` function. Are the functions provided by serde-json different in some way?

[2020-01-03 20:29] MikeeyBikeey commented on #170
Oh, sorry serde_json has it in its crate-root so when I didn't see it in serde_cbor's crate-root I assumed it didn't exist.

Thanks for the clarification.

[2020-01-03 20:29] #170 closed

[2020-01-03 20:31] pyfisch commented on #170
You're welcome!

[2020-01-09 01:42] ctm opened #173 "packed regression for enum variants with data?"
With cbor 0.10, enum variant names are serialized if the variant carries data. Here's an example:
[code]
Under 0.9 the output is:
[code]
Under 0.10:
[code]

[2020-01-09 15:48] pyfisch commented on #173
See release notes: https://github.com/pyfisch/cbor/releases/tag/v0.10.0

[2020-01-09 16:30] ctm commented on #173
I don't see a way to tell serde to use anything other than the default, although there's a lot about serde that I don't understand, so I could be overlooking something obvious to everyone else.

If it's not possible to do that, would you be interested in a PR to making it possible to change the default so that serde can write more compact enums when using `to_vec_packed`? I believe I could easily

[2020-01-10 10:37] pyfisch commented on #157
Now in v0.11!

[2020-01-10 10:37] #157 closed

[2020-01-10 10:46] pyfisch commented on #173
I now understand what you mean.
That enum variants with data are now serialized as strings is indeed a bug. But due to the design of serde it is most likely a wontfix issue as you don't receive all information in the serializer.

I'll accept both a PR fixing the issue or a PR containing documentation for the current behavior.

[2020-01-10 10:49] #47 closed

[2020-01-10 10:49] #3 closed

[2020-01-10 14:28] ctm commented on #173
I hope I'm not wasting anyone's time, but it seems to me that if `to_vec_packed`'s definition included a call to `legacy_enums`, the enum tag would be omitted from the encoding. I.e.:

[code]
but I can't reconcile that fix with:

My backstory is that I'm using yew with actix-web and had been using json to pass messages through a websocket with the idea that I'd eventually move to a more compact bi

[2020-01-10 14:41] ctm commented on #173
Of course shortly after I wrote the above, I realized I ahd made a mistake concerning `IoWrite` and it looks like the end-user can write a version that calls `legacy_enums` in addition to `packed_format`. I need to take a break (and should have before sending that last comment!), but I'll give that a go in an hour or two. Assuming I can get it to go, I'll then submit a doc patch that explains why

[2020-01-10 19:39] ctm commented on #173
So, indeed any user _who is paying attention_ can create a routine comparable to `to_vec_packed` that will also use the legacy enum encoding to save space when using enums whose variants have data.

I think I understand the situation well enough to update the documentation, but I'm wondering if you'd be willing to introduce a `to_slice_minimal` method, so people who want the most compact represent

[2020-01-10 20:56] pyfisch commented on #173
No, please do not add more methods to serde-cbor. As you see the interactions between different features already cause problems and originally I planned to remove the old encoding in a future version.

[2020-01-11 12:05] vorner opened #177 "Can't decode self-described documents under 0.11"
Hello

Let's say I have this short snippet of code:

[code]

If I compile it with serde_cbor 0.10, everything is fine. If I switch to 0.11, it panics with this error:

[code]

It's panicking on the `serde_cbor::from_slice` line. If I remove the `serializer::self_describe` line, everything is fine again.

Is this a regression or should I be checking for the self-description magic number somehow man

[2020-01-11 15:39] pyfisch commented on #177
Have you enabled the `tags` feature?

[2020-01-11 18:09] vorner commented on #177
Originally no, but even now when I add it, the problem still stays.

[2020-01-11 18:51] pyfisch commented on #177
Huh, that's weird. cc @rklaehn

[2020-01-11 20:12] vorner commented on #177
Let me attach the Cargo.{toml,lock} so we can be sure to be talking about the same code.

[2020-01-12 16:01] pyfisch commented on #177
I just released v0.11.1 fixing it. If you disable the tags feature in the serde-cbor-reproducer it does work with 0.11.1.

If you enable tags you must handle them in any place they might occur.

[2020-01-12 16:01] #177 closed

[2020-01-12 16:02] #173 closed

[2020-01-12 16:05] pyfisch commented on #166
I'd merge a PR if you send one.

[2020-01-13 12:55] vorner commented on #177
Thank you, I can confirm it fixes the problem for me.

[2020-01-22 12:30] leo-lb opened #178 "Support Canonical CBOR"
I would like to use CBOR in a scenario where cryptographic signing of the messages is required and in that case [Canonical CBOR](https://tools.ietf.org/html/rfc7049#section-3.9) would very much help.

`serde_cbor::canonical::<name>` I would imagine?

Thanks

[2020-01-24 15:42] chrysn commented on #178
Beware that there is no "canonical CBOR" in RFC7049 -- all it does is describe some rules which individual canonicalizations of protocols may want to opt in to or not (as does, for example, [CTAP](https://fidoalliance.org/specs/fido-v2.0-id-20180227/fido-client-to-authenticator-protocol-v2.0-id-20180227.html#ctap2-canonical-cbor-encoding-form)). Some make sense as general rules and are already fol

[2020-01-25 19:35] leo-lb commented on #178
@chrysn

Noted. It seems that here: https://github.com/w3c/webauthn/issues/455

They use CTAP Canonical CBOR encoding.

Is it possible to put such encoding under a different namespace of this encoder? What prevents you from sorting keys? I will give that a try probably but not sure I am experienced enough with serde to produce such a thing now.

[2020-01-28 10:17] pyfisch commented on #178
Serializing the `Value` type from this crate will produce canonical CBOR. See the docs and code for the specific rules used.

[2020-01-28 16:27] leo-lb commented on #178
@pyfisch Cool! Will have a try. Is there a way to convert an arbitrary struct or enum to a `Value` type of this crate?

[2020-01-28 17:11] pyfisch commented on #178
You should really use Stack Overflow for such questions. They give more detailed answers and you help others having the same problem.

Am 28. Januar 2020 17:27:59 MEZ schrieb leo-lb <notifications@github.com>:

[2020-01-28 17:21] leo-lb commented on #178
@pyfisch
I'll figure it out when on my desk then, that was if you wanted to spare me some time.

Thanks

[2020-01-28 17:21] #178 closed

[2020-02-01 15:22] pyfisch opened #179 "Looking for Maintainers"
Hi everyone,

when I started the `serde_cbor` crate in September 2015 it was a quick experiment on how to implement a new data format in serde. In the years since then the crate was much improved and it now appears to be used in quite a few projects.

I'd like to thank all contributors including @chrysn (no-std and IO reader), @sfackler (a near complete rewrite in 2017 and several other changes),

[2020-02-01 15:35] PsiACE commented on #179
I'm interested, but I'm not a Rust expert.

[2020-02-01 18:07] HugoReeves commented on #179
Interested. I'm using serde_cbor to serialize structures into a KV store for a new project of mine.
First of all, thanks for creating this project, supporting it until now and being open about your decision to move on. So many crates become neglected without anyone noticing.
I'll take a look at the source and consider what it might take to create the new version.
Thanks again. 👍

[2020-02-01 18:19] Stupremee commented on #179
I’m interested as well. I always wanted to do something like this.

[2020-02-01 19:07] Dylan-DPC commented on #179
Hi @pyfisch. Thanks for the repo. If needed I can help you set up a team of people who carry forward maintaining this crate.

[2020-02-04 12:11] vmx commented on #179
Hi @pyfisch, thanks for all your work and the time you invested in getting tag support in and discussing related things with me.

I fully agree with your assessment. I've nothing to add.

[2020-02-04 13:28] chrysn commented on #179
I'd be happy to take some of the workload on the first-part (CBOR serialization / deserialization), as I don't have sufficient understanding for the second (serde) -- but of course happy to collaborate with whoever would work on that.

Who'd be in for the serde part?

So how shall we go about this? Given that this crate has, so far, served so many of us well, it certainly makes a good starting poi

[2020-02-04 15:21] Stupremee commented on #179
I can do the serde part. I suggest to expose a struct or enum which represents any data that can be serialized and deserialized like [serde_json](https://docs.rs/serde_json/1.0.46/serde_json/value/enum.Value.html) does it with their `Value` enum.

[2020-02-06 11:36] Erutuon commented on #179
That's provided by [`serde_cbor::Value`](https://docs.rs/serde_cbor/0.11.1/serde_cbor/enum.Value.html), I think.

[2020-02-06 16:21] ajeetdsouza commented on #179
I can take this up. I've written a serde library before, so this should be doable.

[2020-02-06 16:26] ajeetdsouza commented on #179
I can take it up. I've written a serde crate before, so this should be pretty doable.

[2020-02-06 21:17] jhpratt commented on #179
I am not interested in being a full maintainer, but am willing to review code as necessary. Feel free to ping me as desired!

[2020-02-06 21:56] wildarch commented on #179
It's great to see so many people wanting to contribute to make this an
awesome crate, thanks all!

I'm not planning to take up a significant role maintaining this crate, but
I am happy to review code related to no_std environments.

On Thu, 6 Feb 2020 at 21:17, Jacob Pratt <notifications@github.com> wrote:

[2020-02-11 01:38] pickfire commented on #179
I think it may be good for cbor to be under https://github.com/serde-rs/cbor? Not sure what @dtolnay thinks.

If there is a rewrite, I am also interested to help out with the serde part.

[2020-02-16 03:05] cbeck88 commented on #167
@PraneshAnubhav this might be a dumb question --

In docs for `from_slice_with_scratch` it says:

https://docs.rs/serde_cbor/0.10.2/serde_cbor/de/fn.from_slice_with_scratch.html

Yet, you are passing as scratch an empty slice `&mut []`. Doesn't that seem like it would be harmful, since you are giving no scratch at all for the impl to use?

Did you try either makimg a heap allocation for the stack,

[2020-02-16 16:23] pyfisch commented on #179
Hi everyone,

there are surely more people willing to invest time in this crate than I expected. :smiley:

@hansl messaged me in private and offered to write both a non-serde CBOR crate, the serde integeration and maintain the crates in the future.  He has written a README for the low-level API: https://github.com/hansl/cbor/commit/cbb5fb59d87c9d28a5978f59c49b5f29d405ed73 I've already added a few

[2020-02-24 18:02] hansl commented on #179
Hey guys. I did some more work this weekend and I think I'm getting close to a low-level serialization API for CBOR. You can see the latest [here](https://github.com/hansl/cbor/tree/rewrite).

I am now working on the latest extensions (simple values, floats, bigint, dates, ...). I'll update the README at some point in the near future. Non of that is owned (I will add a `ValueOwned` at some point,

[2020-02-27 18:21] Timmmm opened #181 "Allow lossless number type conversion"
If you have some CBOR that contains some floating point numbers, and your Rust struct expects integers, it gives an error like:

    invalid type: floating point `35841`, expected u64

But with `serde_json` this works fine, even though all numbers in JSON are effectively floating point.

I feel like it makes sense to allow number conversions as long as they don't lose information. For instance 358

[2020-02-28 11:22] Timmmm commented on #181
I had a look into how this works with `serde_json` and I think it's something like this:

1. It [parses the JSON number](https://github.com/serde-rs/json/blob/d5b4be85090569e8bc98d6a4933e4ffa06e165ff/src/de.rs#L458) into a `u64`, and if that can't represent the number, an `i64`, and if neither of them can, an `f64`. There is one exception - if you have a number like `1.0` it will parse it into an

[2020-02-28 16:22] Timmmm commented on #181
Updating my CBOR generator to use the smallest possible representation fixed this.

After actually implementing integer encoding it's pretty clear that the CBOR encoding has no relationship with the actual type of fields. Also that CBOR was designed by idiots. Big endian despite no computers using that, much worse integer encoding than protobuf, despite being 5 years later, etc.

[2020-02-28 16:22] #181 closed

[2020-02-28 17:12] Timmmm opened #182 "Skip unwanted data using IgnoredAny"
Consider an object like this:

[code]

I am only interesting in `b`, so I write a struct like this:

[code]

And read it in the usual way. I'm not 100% sure, but based on my benchmarks it seems that `serde_cbor` will actually read all of `a`, even though it could easily skip it because CBOR encodes the length of the entire object. This is a pretty big advantage over JSON where you always have to p

[2020-02-28 17:23] Timmmm commented on #182
Ah looks like we just have to not [forward `deserialize_ignored_any` to serde](https://github.com/pyfisch/cbor/blob/master/src/de.rs#L883) and implement it. I will have a go.

[2020-02-28 17:42] Timmmm commented on #182
Ugh, you know what, I started implementing this and then I remembered that CBOR actually *doesn't* encode the length of objects in bytes - I was thinking of Protobuf, which does. So I don't think there's any reasonable way to skip objects.

Did I mention CBOR was designed by idiots?

[2020-02-28 17:42] #182 closed

[2020-03-04 22:17] Nadrieril commented on #179
@hansl Thanks for taking up that work !
Since the crate intends to be very low-level, I would expect a zero-allocation API. Is that possible with what you have in mind ? Currently it looks to me like it's building big values on the stack, but I'd rather the API could write the bytes directly to a buffer or a file without needing to construct intermediate objects.

[2020-03-04 22:48] hansl commented on #179
Hi @Nadrieril,

Correct, it can take up to 12 bytes on the stack if my calculations are correct. But for this to be the case you need to encode those bytes in a value. Is `&u64` (instead of 8 `u8` directly) what you had in mind?

If all you want is encode values from raw bytes and send them to a writer, I would wait for the serializer structure which will be closer to what you're looking for.

[2020-03-05 18:03] Timmmm opened #183 "Integers don't get converted to float in tagged unions"
As I discovered in #181, serde will convert values that are loaded as integers into floating point values if your Rust struct expects that (but not vice versa).

This seems to usually work in both serde_json and serde_cbor but for some reason in tagged unions it only works in serde_json. In serde_cbor you get an error like this:

    invalid type: integer `1`, expected f32

I haven't investigated

[2020-03-06 16:01] Timmmm commented on #183
Turns out this is actually a bug in Serde: https://github.com/serde-rs/serde/issues/1748

[2020-03-06 16:01] #183 closed

[2020-03-19 02:53] hansl commented on #179
@Nadrieril

I added a `Serializer` structure to the cbor (see test [here](https://github.com/hansl/cbor/blob/rewrite/src/cbor/src/serialize_test.rs)). It takes a value and encodes it and send it to the writer directly. Now the current implementation is naive; it actually creates a `Value<'_>` on the stack and write it. But I think we can improve on this later without changing the API.

The big adv

[2020-03-19 04:39] pickfire commented on #179
@hansl Would it be better to have `cbor::vec!` macro rather than using `cbor::vector` with `vec!`?

[2020-03-20 02:46] hansl commented on #179
@pickfire That API has changed but the README was not updated. Thanks for following up though, I'll update the README when I get a chance.

[2020-03-25 23:32] syntacticsugarglider opened #185 "Incorrect behavior for Option<()>"
[code]
fails, as `serialize_unit` is implemented by simply calling `serialize_none` and `serialize_some` does not prepend a determinant (per CBOR specification). This leads to this incorrect behavior where a type implementing `Serialize + Deserialize` is not correctly isomorphic to its wire representation. I'm not fully familiar with the CBOR spec but presumably one could choose to serialize an em

[2020-03-28 10:52] windelbouwman commented on #179
Since there are more people willing to help, where does the development continue? Do we ditch all old code, and start over, or is there a gradual migration path?

[2020-03-28 11:05] windelbouwman commented on #179
In order to push this forward, it might make sense to start a rust-cbor organization, and add the people here

https://github.com/rust-cbor

[2020-03-28 11:12] windelbouwman commented on #179
I also opened up a matrix chat room at `#rust-cbor:matrix.org`

[2020-03-30 20:12] hansl commented on #179
See my comments above. I have a todo list to finish the cbor crate itself, before switching to serde-cbor, and I have a branch running in my repo.

Considering I have time to put in about 5 hours a week on this right now it's hard for me to make significant progress. However, I won't move this to a new `rust-cbor` org for the purpose of a single repo. I'd rather have it hosted in the serde org any

[2020-03-31 19:34] ahmedcharles commented on #179
I submitted a PR (https://github.com/pyfisch/cbor/pull/184) with the goal of making incremental progress, since that way others can be helpful (and the tests can continue to pass). I have some other commits locally with a similar goal, but it's easier to discuss them one at a time.

[2020-04-06 18:15] hansl commented on #179
Update: Deserialization was added this weekend for numbers, along with a number of small improvements to the way MajorType/MinorType interacts, and how traits interact (`Write` and `WriteTo`). This is a very minimal deserializer for now (and will be kept this way).

I also added proptests for numbers to serialize + deserialize and validate they're the same numbers. Since we also test that serializ

[2020-05-06 09:10] sffc opened #186 "Add support for stringref extension"
The stringref extension for CBOR allows for strings to be deduplicated (referenced from a common source).  This is useful if you have a data structure with a lot of duplicated strings.

http://cbor.schmorp.de/stringref

This was previously attempted at #60, but that PR was abandoned.

My use case: I am dealing with [CLDR](http://www.unicode.org/cldr/charts/latest/) data, which has a whole lot of d

[2020-05-08 22:49] joshtriplett opened #187 "Packed encoding of enum still includes variant names for non-unit variants"
Test case:

[code]

Hex dump of the resulting file:
[code]

Notice that it includes `Thing3` and `Thing2`, but not `Thing4`.

From what I can tell, the serialization of unit variants pays attention to `self.packed`, but the serialization of non-unit variants does not.

[2020-05-08 22:50] joshtriplett opened #188 "Please provide to_writer_packed helper"
Similar to the `to_vec_packed` helper, please consider providing a `to_writer_packed` helper, to avoid having to manually create a `Serializer` for the common case of writing in the packed format.

[2020-05-12 09:04] Timmmm opened #189 "Compilation is very slow, especially for release builds"
The example file below contains a load of serde-derive'd structs and code to load them using serde_cbor. I compiled it in release & debug, and then again after changing `serde_cbor` to `serde_json` to get the following compile times:

|  | Debug | Release |
|-|-|-|
|serde_json| 5.0s | 13.3s |
|serde_cbor| 11.2s | 53.9s |

As you can see it is a lot slower than `serde_json`, and the release build i

[2020-05-28 10:55] stevenroose opened #196 "CI jobs seem to fail because of rustfmt problems is already-existing code"
I generally prefer not to enforce formatting on a project, but I accept if projects prefer to do that.

But shouldn't it be made sure that all existing code follows the formatting rules before starting the enforcement?

[2020-05-28 14:22] pyfisch commented on #196
Existing code did follow the formatting rules but rustfmt changed, as you can see in the commit history. No big deal.

I am not sure if you are aware but this crate is looking for a rewrite and a new maintainer (#179). @hansl is working on it but in the meantime I'd rather not spend too much time improving the existing codebase and only fix bugs which severly impact users.

[2020-06-04 14:34] stevenroose commented on #179
Regardless of what decision is made, I would strongly request the stability in Rust version to be taken into consideration. Supporting only very new Rust versions is clearly unproductive for the ecosystem and serde specifically has always had a strong position in supporting older Rust versions.

IIRC the current crate supports v1.32 or v1.33, it would be very much appreciated if that support can b

[2020-06-04 14:34] stevenroose commented on #196
Hmm, ok makes sense. Feel free to decide whether to merge #192 or just close both the PR and this issue without merging.

[2020-06-04 14:58] #196 closed

[2020-06-07 01:23] bheisler opened #197 "Fails to deserialize f64 inside tagged enum"
Hello! I encountered this while exploring the use of CBOR as an alternative to JSON for something I'm working on. My project will require moving around a bunch of floating point numbers, and if I can I'd prefer to avoid the precision loss of converting them to text and back as JSON does. Unfortunately, I _also_ can't guarantee that the two sides of the communication will be running the same code,

[2020-07-05 16:02] myfreeweb opened #199 "Deserialization of enum variants only accepts fixed length map"
https://github.com/pyfisch/cbor/blob/a218403a52e60c991313f429e4acc05cce81ce25/src/de.rs#L859

If I try to write an enum as e.g. `\xbf\x67variant\x65hello\xff` there's a somewhat confusing error: "invalid type: map, expected variant identifier"

This is probably not common (I was just writing a test with manually written cbor bytes) but theoretically some implementation in another language could al

[2020-07-06 03:37] npmccallum commented on #179
I submitted 4 pull requests today. This is almost exclusively on the "top" end of the current crate. This implies that the low-level work should be unimpacted by these changes. Would anyone be willing to review them?

[2020-07-06 07:42] pyfisch commented on #179
I am not willing to merge them. Sorry. To foundations of this crate have some long-standing issues and I don't want to add any additional stuff on top. There have been many features added by contributors but sometimes these features had subtle bugs or interacted badly with each other. In this case I am the one struggling to understand the issue and keeping the feature working.

When the rewrite is

[2020-07-30 15:04] Timmmm opened #205 "Deserialisation of maps does not parse string keys to integers"
This is one of those issues where it's not exactly clear what the correct thing to do is, but I feel like CBOR is mostly used as a compact version of JSON, so I think you should be able to write JSON using `serde_json`, convert it to CBOR, read it in using `serde_cbor` and it should give the same result.

This doesn't work for something like `HashMap<u32, String>`. The only key type that JSON supp

[2020-08-03 01:27] grantperry opened #206 "support serde_if_integer128! macro"
The `serde_if_integer` macro allows serde support for platforms that don't support 128bit integers. serde_cbor does not follow the suggested pattern [here](https://docs.serde.rs/serde/macro.serde_if_integer128.html)

[2020-08-11 09:28] vi commented on #78
Maybe information about `serde_bytes` should be more visible in main serde_cbor's README and root doccomment?

[2020-08-13 09:40] vmedea commented on #78
Yes I agree it would be good to mention this interaction with serde_bytes, though looking through the manual I'm not sure where it would fit in. Maybe a section that specifies how rust types are mapped to CBOR types and vice versa would be useful, and could mention this.

[2020-08-14 14:32] vi commented on #179
What is current maintainership status of this library?

Has "Looking for Maintainers" resulted in a new maintainer?

[2020-08-17 01:06] hansl commented on #179
That would be me. Sorry, I kind of came forward in these comments but I haven't finished rewriting the low level one.

The current work is at https://github.com/hansl/cbor/tree/rewrite.

[2020-08-20 09:06] pyfisch commented on #179
Hi @hansl,

I saw you continued the rewrite a few days ago. :smile:  If you want feedback let me know.

[2020-08-28 21:53] hansl commented on #179
Hi. I re-added the current serde_cbor code to my repo. I'm going to talk to the serde org to move it there, and I'm in the process of adding github actions and removing travis.

I think I'm in a good place to start accepting PRs and issues, but I'd like to wait until the code is in the serde org (or isn't, if they don't want it there).

[2020-09-07 00:40] Redrield opened #208 "Why are tags feature-gated?"
I'm confused as to why parsing tags out of CBOR is locked behind a feature. With it this way, the library clobbers valid CBOR messages in a way that makes no sense unless you look close enough to realize that it ignores the tag byte unless a feature is requested (which is not on by default and is poorly documented).

[2020-09-09 10:19] vmx commented on #208
The problem is that there's no clean way to represent tags in the Serde Data Model. Tag support is a hack to get it working and after spending quite some time on getting support for tags in, I no longer think they should be supported. If you have something with tags, you probably shouldn't use Serde.

[2020-09-15 01:51] jamessewell opened #210 "Question: 0xff as padding"
(this is a question not an issue, hope that's OK)

I have a `[u8]` which I am incrementally filling with CBOR fragments. I need a value that I can init the array with, at the moment I'm using `0xff` - but I'm not sure this is strictly correct.

I'm after the following semantics:

1. Stream decoding will fail when I hit the first non-filled area of the array
1. When decoding fails I can identify th

[2020-09-15 08:49] pyfisch commented on #210
Hi James,

this use-case seems to be a bit odd to me. What are you trying to accomplish with your program?
From the question I understand that you repeatedly write data to a slice.
Do you send or store the incomplete arrays somewhere?
You might want to look into streaming CBOR as described in the RFC.
Instead of a slice you can use a `Vec` to store the data. If that is not possible I'd suggest to

[2020-09-15 11:22] jamessewell commented on #210
It’s like a mpsc ring buffer implementation between processes. The data is
in shared memory so a vec can’t really be used.

The producers write cbor fragments incrementing an atomic write pointer,
while the consumer repeatedly uses the iterator (which is streaming cbor as
far as I can tell?) to deserialise as far as it can. So I’m only processing
until a gap then stopping - no looping though the w

[2020-09-15 21:30] pyfisch commented on #210
You can use 0xff like this. I'd probably still use two atomic pointers for begin+end of the live area of the array instead of relying on the contents of the buffer.

[2020-09-15 23:47] jamessewell commented on #210
I am - but writing to the array isn’t atomic so I want to catch the edge
case of write pointer increments but not all cbor written.

Thanks!

On Wed, 16 Sep 2020 at 7:31 am, pyfisch <notifications@github.com> wrote:

[2020-09-16 09:29] pyfisch commented on #210
I am by no means an expert on atomic operations, but I recall from the lecture that you need synchronization if multiple processes read and write the same data. (The reading thread may see incomplete data (even with holes) or only see some updates to the data.)
On the other hand Rust guarantees that you can't share memory across processes without synchronization (`Send`, `Sync` traits) unless you

[2020-09-17 00:09] jamessewell commented on #210
Yeah I’ve been leaning on the IRC and discord people a lot - thanks for the
help!

On Wed, 16 Sep 2020 at 7:30 pm, pyfisch <notifications@github.com> wrote:

[2020-09-17 07:32] #210 closed

[2020-10-06 10:05] vi commented on #179
@hansl, What is status of the rewrite? Are there plans to releasing it to crates.io?

[2020-11-18 05:53] SoftwareSheriff commented on #125
Wow, this was opened a year ago. Anyway I just ran into needing this feature myself, so I took a stab at implementing it in https://github.com/pyfisch/cbor/pull/211, thought I'd comment in case you or anyone else were still interested in this issue.

[2020-12-03 22:46] npmccallum commented on #179
This is just a note to everyone that there is now a new serde-enabled CBOR crate named [ciborium](https://crates.io/crates/ciborium) ([documentation here](https://docs.rs/ciborium/0.1.0/ciborium/)).

This was built by the Enarx project which is actively using CBOR and needed a robust, flexible implementation. I believe that I've hit many of the redesign points that @pyfisch wanted for this crate.

[2020-12-03 22:56] jacobrosenthal commented on #179
@npmccallum except for the no_std no alloc use case it seems

[2020-12-03 23:08] npmccallum commented on #179
The readme discusses a potential low level library which could target that case. I would merge patches for that. But it isn't my primary use case.

[2020-12-04 18:00] npmccallum commented on #179
It does, they're just private because I wasn't sure if anyone actually needed them. We can polish them up and make them public.

[2020-12-09 21:50] d3zd3z commented on #208
Unfortunately, this makes `serde_cbor` pretty much useless for many applications that use CBOR. I think the distinction here is that there are two uses of CBOR within Rust. 1. is the Serde type use, where it is about serializing and deserializing what are essentially Rust data structures. The other use 2. is about handling specifications and data formats that use CBOR. I agree that tags don't real

[2020-12-12 09:20] pyfisch commented on #208
@d3zd3z See #179 where a solution (rewrite and splitting the crate) is proposed.

[2020-12-23 00:34] jawline commented on #78
If I migrate to serde_bytes is there any way to keep CBOR compatible with older versions of the document that didn't use byte strings, currently they are incompatible (I can an error that the deserializer expected a byte string)

[2020-12-23 09:15] pyfisch commented on #78
@jawline You will need to write a custom deserializer that accepts either byte arrays or byte strings.

[2020-12-23 09:32] jawline commented on #78
It seems I misunderstood my issue a little bit, serde bytes is actually compatible with the old encoded data for cbor but older clients are now incompatible with data produced serde bytes > cbor for Vec<u8>. This is a much more minor issue so everythings fine, thanks for replying!

[2021-01-06 00:55] jzrake commented on #197
I am encountering the same bug, but the workaround might not be possible for my case. I hope this bug gets fixed.

[2021-02-15 01:25] jzrake commented on #189
I'm just commenting on this issue to say that I've seen the same problem: serde_cbor consumes 60-70% of my code's build time. I can't blame the author, he is busy and according to [this post](https://github.com/pyfisch/cbor/issues/179) never meant to maintain this project at serious level. I have switched to [ciborium](https://github.com/enarx/ciborium), which is newer and perhaps more risky, but

[2021-06-14 12:10] matix2267 commented on #187
I've created a bugfix for this issue (#215) but I don't have high hopes to get it merged given that this project is effectively unmaintained (see #179).

Feel free to use the bugfix repo directly if it fits your use case.

[2021-06-14 18:15] Erutuon opened #216 "Untagged enum with one named field doesn't round-trip"
So I have a variant of an enum, `Contributor::Ip`, and an equivalent struct `IpContributor`. The struct round-trips through serialization and deserialization but the enum variant with just one field doesn't, so this test gives a panic on the last `assert_round_trip`. The variant with no fields and the variant with two fields round-trip just fine.

[code]

This comes from an in-development version

[2021-06-28 01:59] jcfj commented on #199
I ran into this with CBOR generated from JSON in Java's Jackson.

[2021-07-08 09:19] surban commented on #77
MsgPack stores u128/i128 as a [byte array]. I think it would be a simple fix for serde_cbor to do the same?

[byte array]: https://github.com/3Hren/msgpack-rust/blob/5bf2c24203ad422233cf35b7b7bfad9f7e811814/rmp-serde/src/encode.rs#L557

[2021-07-15 15:03] artjoma opened #219 "RecursionLimitExceeded"
Deserialize huge struct: Error: ` ErrorImpl { code: RecursionLimitExceeded, offset: 30094 }' `

Serde json support https://docs.rs/serde_json/1.0.64/serde_json/struct.Deserializer.html#method.disable_recursion_limit :
[code]

How I can increase recursion limit ?

[2021-07-16 20:10] pyfisch commented on #219
It is fixed in the code and I don't accept pull requests at this time.

Currently serde-cbor accepts 128 levels of recursion which is more than sufficient for most use cases. Are you sure the document is well-formed? You can maintain a private fork of this crate and change the relevant lines. https://github.com/pyfisch/cbor/blob/a218403a52e60c991313f429e4acc05cce81ce25/src/de.rs#L189

It may be co

[2021-07-16 20:10] #219 closed

[2021-07-24 15:57] fredfortier opened #220 "Support BigFloat"
I briefly scanned through the code and I don’t believe this crate supports BigFloat as defined in RFC 8949 section 3.4.4. I believe rust-decimal is the most common crate implementing this type of structure. I’m happy to submit a PR if needed. I could use pointers to implement it correctly the first time. Or let me know if you it’s outside the scope of this crate.

[2021-08-07 17:58] david-fong opened #221 "Update link to RFC in readme"
https://cbor.io/spec.html states that [RFC-8949](https://www.rfc-editor.org/rfc/rfc8949.html) is a new edition of RFC-7049 that describes the _same_ format, but with more explanation of topics that had arisen since the first RFC.

It would be nice to link to RFC-8949, or perhaps even nicer to just link to https://cbor.io/spec.html.

[2021-08-14 10:34] davidji commented on #98
Could we use core_io::Read and core_io::Write instead?